
<!DOCTYPE html>
<html lang="vi">
<head>
    <script src="/__prepros.js"></script>
    <meta charset="UTF-8">
    <title>SimPay - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <!--CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.6/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="style.css?v=1635507225">
    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/@shinsenter/defer.js/dist/defer_plus.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.6/dist/js/uikit-icons.min.js"></script>
    <script src="assets/placeholderTypewriter.js"></script>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    <script src="js/app.js"></script>
</head>
<body class="">
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<!-- Your customer chat code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="2428809380682169"
     logged_in_greeting="Bạn cần cắt HTML/CSS? Hãy chat ngay với chúng tôi"
     logged_out_greeting="Bạn cần cắt HTML/CSS? Hãy chat ngay với chúng tôi">
</div>
<script>
    defer(function() {
        window.fbAsyncInit = function() {
            FB.init({
                xfbml            : true,
                version          : 'v5.0'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    }, 5000);
</script><!--app-->
<div id="app" class="uk-height-viewport uk-offcanvas-content uk-overflow-hidden uk-position-relative">


    <div class="uk-flex" uk-height-viewport uk-toggle="cls: uk-flex-middle; mode: media; media: @m">
        <div class="uk-width-1-1" uk-toggle="cls: uk-section-small; mode: media; media: @m">
            <div class="uk-container" uk-toggle="cls: uk-padding-remove; mode: media; media: (max-width: 959px)">
                <div class="uk-grid-match uk-grid-0 uk-grid-40-m uk-grid-108-l" uk-grid>
                    <div class="uk-width-3-5@m">
                        <div class="uk-cover-container login__box__coverImg">
                            <img src="images/banner_login.png" alt="" uk-cover>
                            <canvas width="1448" height="1180"></canvas>
                        </div>
                    </div>
                    <div class="uk-width-expand">
                        <div class="uk-grid-match uk-flex-center" uk-grid>
                            <div class="uk-width-3-5@s uk-width-1-1@m">
                                <div class="uk-flex uk-flex-column login__box">
                                    <div class="uk-flex-auto">
                                        <form>
                                            <fieldset class="uk-fieldset">

                                                <legend class="uk-legend login__box__form__title">Đăng nhập</legend>

                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon login__box__form__icon login__box__form__icon--phone" uk-icon="icon: user"></span>
                                                        <input class="uk-input login__box__form__input" type="tel" placeholder="Số điện thoại">
                                                    </div>
                                                </div>
                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon login__box__form__icon login__box__form__icon--pass" uk-icon="icon: user"></span>
                                                        <input id="ipnPassword" class="uk-input login__box__form__input" type="password" placeholder="Mật khẩu">
                                                        <span id="btnPassword" class="login__box__form__showPass"></span>
                                                    </div>
                                                </div>

                                                <div class="uk-margin login__box__form__box">
                                                    <div class="uk-child-width-auto uk-flex-middle uk-flex-between" uk-grid>
                                                        <div>
                                                            <label><input class="uk-checkbox login__box__form__box__check" type="checkbox" checked> <span class="login__box__form__box__txt">Remember</span></label>
                                                        </div>
                                                        <div>
                                                            <a href="#modal-forgotPass" uk-toggle class="login__box__form__box__forGotpass">Quên mật khẩu?</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="login__box__form__btnSubmit uk-button uk-button-secondary uk-width-1-1"><span>Đăng nhập</span></button>

                                            </fieldset>
                                        </form>
                                    </div>
                                    <div>
                                        <div class="uk-text-center login__box__txt1">Bạn chưa có tài khoản SIMPAY? <a href="">Đăng ký ngay</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Quên mật khẩu?-->
    <div id="modal-forgotPass" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog login__modal__dialog uk-modal-body uk-margin-auto-vertical">

            <button class="uk-modal-close-default login__modal__close" type="button" uk-close></button>
            <h2 class="uk-modal-title login__modal__title">Quên mật khẩu</h2>
            <p class="login__modal__desc">Chúng tôi sẽ gửi link khôi phục tài khoản vào mail của bạn. Hãy kiểm tra mail của bạn nhé!</p>

            <div class="uk-margin uk-form-stacked">
                <label class="uk-form-label login__modal__label" for="form-stacked-text">Email</label>
                <div class="uk-form-controls">
                    <input class="uk-input login__modal__input" id="form-stacked-text" type="email" placeholder="Ví dụ: Infor@gmail.com">
                </div>
            </div>
            <div class="uk-grid-8" uk-grid>
                <div class="uk-width-1-1">
                    <button type="submit" class="login__box__form__btnSubmit uk-button uk-button-secondary uk-width-1-1"><span>Gửi</span></button>
                </div>
                <div class="uk-width-1-1">
                    <button type="submit" class="login__box__form__btnSubmit uk-button uk-button-default uk-width-1-1"><span>Quay lại</span></button>
                </div>
            </div>
        </div>
    </div>
    <!--/Quên mật khẩu?-->

</div>
<!--/app-->
<!--backtop-->
<a href="#" class="back-to-top" uk-scroll>
    <img src="images/Uptop.png" alt="">
</a>
<!--/backtop-->
</body>
</html>