/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Arial Regular';
  font-display: auto;
  src:local('Arial Regular'), url('fonts/Arial/arial.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * SVN Gilroy
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Monument Extended Regular';
  font-display: auto;
  src:local('Monument Extended Regular'), url('fonts/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * SVN Gilroy
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'SVN Gilroy Regular';
  font-display: auto;
  src:local('SVN Gilroy Regular'), url('fonts/Font-Gilroy-VH-Full/SVN-Gilroy-Regular.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SVN Gilroy Bold';
  font-display: auto;
  src:local('SVN Gilroy Bold'), url('fonts/Font-Gilroy-VH-Full/SVN-Gilroy-Bold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SVN Gilroy SemiBold';
  font-display: auto;
  src:local('SVN Gilroy SemiBold'), url('fonts/Font-Gilroy-VH-Full/SVN-Gilroy-SemiBold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SVN Gilroy Medium';
  font-display: auto;
  src:local('SVN Gilroy Medium'), url('fonts/Font-Gilroy-VH-Full/SVN-Gilroy-Medium.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SVN Gilroy XBold';
  font-display: auto;
  src:local('SVN Gilroy XBold'), url('fonts/Font-Gilroy-VH-Full/SVN-Gilroy-XBold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SVN Gilroy Italic';
  font-display: auto;
  src:local('SVN Gilroy Italic'), url('fonts/Font-Gilroy-VH-Full/SVN-Gilroy-Italic.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * Verdana
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Verdana Regular';
  font-display: auto;
  src:local('Verdana Regular'), url('fonts/Fonts/Verdana.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Verdana Bold';
  font-display: auto;
  src:local('Verdana Bold'), url('fonts/Fonts/Verdana-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * Roboto
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Roboto Regular';
  font-display: auto;
  src:local('Roboto Regular'), url('fonts/Fonts/Roboto-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Black';
  font-display: auto;
  src:local('Roboto Black'), url('fonts/Fonts/Roboto-Black.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Bold Italic';
  font-display: auto;
  src:local('Roboto Bold Italic'), url('fonts/Fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Bold';
  font-display: auto;
  src:local('Roboto Bold'), url('fonts/Fonts/Roboto-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Medium';
  font-display: auto;
  src:local('Roboto Medium'), url('fonts/Fonts/Roboto-Medium.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Light Italic';
  font-display: auto;
  src:local('Roboto Light Italic'), url('fonts/Fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}