.banner{
  &.uk-sticky-fixed{
    position: fixed !important;
  }
  @include media-breakpoint-down('l'){
    display: none;
  }
  &__img{
    top: 0;
    transform: translateY(0%);
    $x:15px;
    &.uk-position-center-left-out{
      right: calc(100% + #{$x});
    }
    &.uk-position-center-right-out{
      left: calc(100% + #{$x});
    }
    img{
      @include fluidx(280px,150px,width,'hd','xl');
    }
  }
}
.bottomBaner{
  z-index: 999;
  @include media-breakpoint-up('xl'){
    display: none;
  }
}
.popupBaner{
  &__dialog{
    background-color: transparent;
  }
}