.footer{
  background: #FCFCFD;
  &__top{
    border-top: 1px solid #E6E8EC;
    @include media-breakpoint-up('m'){
      background-color: #fff;
      border-top: 1px solid #E6E8EC;
      border-bottom: 1px solid #E6E8EC;
    }
    &__section{
      padding: 32px 0;
      border-bottom: 1px solid #E6E8EC;
      @include media-breakpoint-up('m'){
        padding: 25px 0;
        border: none;
      }
    }
    &__img1{
      background-image: url("data:image/svg+xml,%3Csvg width='269' height='123' viewBox='0 0 269 123' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1448_136527)'%3E%3Cg opacity='0.5'%3E%3Cpath opacity='0.5' d='M1.11679 11.1344L1.21029 10.9675L1.27782 10.8475C1.27782 10.8058 1.32457 10.7641 1.35054 10.7223C2.09485 9.26783 3.2886 8.09474 4.75284 7.37894L5.13722 7.20681L52.1409 -13.3752L99.1394 -33.9519L99.529 -34.124C100.107 -34.4132 100.752 -34.5424 101.396 -34.4984C102.041 -34.4544 102.662 -34.2388 103.196 -33.8737L103.279 -33.8215L103.357 -33.7589L108.806 -29.727L105.284 -28.6838L109.959 34.6738C110.04 36.3823 109.627 38.0778 108.77 39.5559L108.697 39.6811L108.63 39.801C107.882 41.2533 106.689 42.4255 105.227 43.1444L11.4795 84.1936L11.8535 88.1786L6.69553 84.3396L6.61242 84.2823C6.06084 83.8643 5.61104 83.326 5.29699 82.708C4.98295 82.0899 4.81286 81.4083 4.79959 80.7146L5.95488e-06 15.8444C-0.0781807 14.2 0.309023 12.567 1.11679 11.1344Z' fill='white'/%3E%3Cpath opacity='0.5' d='M15.796 88.622L110.572 47.119C113.434 45.8672 115.538 41.8666 115.247 38.1842L110.536 -25.7628C110.266 -29.4453 107.721 -31.4117 104.853 -30.1546L10.0978 11.3483C7.23574 12.6002 5.13203 16.6008 5.42291 20.2832L10.1134 84.225C10.3887 87.9074 12.9288 89.8738 15.796 88.622Z' fill='url(%23paint0_linear_1448_136527)'/%3E%3Cpath opacity='0.5' d='M10.4874 11.2022L57.4859 -9.37976L63.0283 65.7919L16.1804 88.4498C13.1002 89.8007 10.3991 88.116 10.1498 84.6891L5.36577 19.8189C5.11645 16.4181 7.40716 12.527 10.4874 11.2022Z' fill='url(%23paint1_linear_1448_136527)'/%3E%3Cpath opacity='0.5' d='M104.49 -30.0035L57.4859 -9.40589L62.9919 65.2963L110.183 47.291C113.263 45.9401 115.554 42.0751 115.304 38.6483L110.52 -26.2272C110.271 -29.6488 107.57 -31.3336 104.49 -30.0035Z' fill='url(%23paint2_linear_1448_136527)'/%3E%3Cpath opacity='0.5' d='M114.203 43.3583C113.33 45.0771 111.917 46.4592 110.183 47.2911L16.1648 88.4498C14.5026 89.18 12.9495 89.0183 11.8327 88.1786L59.6208 19.5216L114.203 43.3583Z' fill='url(%23paint3_linear_1448_136527)'/%3E%3Cpath opacity='0.5' d='M6.46698 15.1036C7.34661 13.397 8.75874 12.0266 10.4874 11.2021L104.49 -30.0035C106.152 -30.7337 107.705 -30.5721 108.822 -29.7323L61.0337 38.9247L6.46698 15.1036Z' fill='url(%23paint4_linear_1448_136527)'/%3E%3Cpath opacity='0.5' d='M26.6626 23.47C26.6886 23.4022 26.7198 23.3396 26.7457 23.277L26.8081 23.1414C26.8081 23.0945 26.8496 23.0475 26.8756 23.0006C27.5631 21.3769 28.7522 20.0183 30.2675 19.1252L30.6675 18.9113L79.5671 -7.05347L128.467 -33.0391L128.867 -33.253C129.466 -33.6098 130.149 -33.8012 130.846 -33.8076C131.543 -33.814 132.229 -33.6352 132.835 -33.2895L132.929 -33.2321L133.017 -33.18L139.209 -29.3098L135.51 -27.891L145.676 39.9158C145.9 41.7483 145.592 43.6069 144.787 45.2673L144.725 45.4081L144.663 45.5437C143.974 47.1664 142.785 48.5246 141.271 49.4192L43.7365 101.229L44.4637 105.485L38.6044 101.776L38.5109 101.724C37.8837 101.319 37.356 100.776 36.9674 100.136C36.5788 99.4966 36.3394 98.7771 36.267 98.0314L25.8783 28.6285C25.649 26.8692 25.921 25.0806 26.6626 23.47Z' fill='white'/%3E%3Cpath opacity='0.5' d='M48.7386 105.636L147.343 53.232C150.325 51.6672 152.262 47.1711 151.67 43.2331L141.411 -25.184C140.824 -29.1168 137.926 -31.0258 134.944 -29.4402L36.3605 22.9641C33.3789 24.5288 31.4362 29.0249 32.0284 32.963L42.2717 101.375C42.8638 105.313 45.7571 107.222 48.7386 105.636Z' fill='url(%23paint5_linear_1448_136527)'/%3E%3Cpath opacity='0.5' d='M36.7449 22.7501L85.6445 -3.24072L97.7058 77.1833L49.1438 105.422C45.9389 107.123 42.9106 105.537 42.3444 101.87L31.9557 32.4674C31.3895 28.8006 33.5399 24.4505 36.7449 22.7501Z' fill='url(%23paint6_linear_1448_136527)'/%3E%3Cpath opacity='0.5' d='M134.534 -29.2263L85.6445 -3.24068L97.6539 76.6826L146.938 53.451C150.143 51.7454 152.293 47.3953 151.748 43.7338L141.338 -25.6743C140.767 -29.3411 137.744 -30.9319 134.534 -29.2263Z' fill='url(%23paint7_linear_1448_136527)'/%3E%3Cpath opacity='0.5' d='M150.948 48.8872C150.146 50.8074 148.737 52.4094 146.938 53.4459L49.1438 105.422C47.4089 106.34 45.7311 106.293 44.4689 105.485L90.2935 27.7106L150.948 48.8872Z' fill='url(%23paint8_linear_1448_136527)'/%3E%3Cpath opacity='0.5' d='M32.7244 27.3089C33.5237 25.3884 34.9313 23.7861 36.7293 22.7502L134.534 -29.2263C136.263 -30.1495 137.946 -30.0974 139.209 -29.2889L93.3997 48.4855L32.7244 27.3089Z' fill='url(%23paint9_linear_1448_136527)'/%3E%3C/g%3E%3Cpath d='M53.6941 23.1988L53.7824 22.9954C53.7824 22.9432 53.8187 22.8963 53.8395 22.8441C53.8603 22.792 53.8811 22.745 53.907 22.6929C54.575 20.9365 55.7879 19.4425 57.3665 18.4315L57.7872 18.1863L108.858 -11.4348L159.934 -41.082L160.355 -41.3272C160.979 -41.7306 161.699 -41.961 162.441 -41.9949C163.182 -42.0288 163.92 -41.865 164.578 -41.5202L164.661 -41.4784L164.76 -41.4263L171.512 -37.5196L167.627 -35.8661L181.132 35.9465C181.447 37.8899 181.193 39.8831 180.4 41.684L180.338 41.8405L180.244 41.9761C179.576 43.7324 178.363 45.2265 176.785 46.2375L74.939 105.339L75.8791 109.845L69.4901 106.132L69.3914 106.08C68.1447 105.407 67.2046 104.087 66.8566 102.235L53.0448 28.6912C52.749 26.8354 52.9739 24.9335 53.6941 23.1988Z' fill='white'/%3E%3Cpath d='M80.4398 109.835L183.428 50.1076C186.545 48.3029 188.436 43.4573 187.651 39.2846L174.037 -33.2165C173.252 -37.3892 170.094 -39.3035 166.978 -37.4988L63.9893 22.2547C60.8727 24.0594 58.9871 28.905 59.7715 33.0777L73.3859 105.579C74.1702 109.725 77.3284 111.645 80.4398 109.835Z' fill='url(%23paint10_linear_1448_136527)'/%3E%3Cpath d='M64.41 22.0096L115.486 -7.61157L131.49 77.5903L80.8605 109.595C77.5154 111.535 74.2118 109.96 73.4845 106.08L59.6728 32.5353C58.9404 28.6703 61.0648 23.9499 64.41 22.0096Z' fill='url(%23paint11_linear_1448_136527)'/%3E%3Cpath d='M166.557 -37.2327L115.486 -7.61157L131.386 77.0582L183.007 50.3528C186.358 48.4125 188.477 43.6921 187.75 39.8062L173.938 -33.738C173.211 -37.5978 169.902 -39.173 166.557 -37.2327Z' fill='url(%23paint12_linear_1448_136527)'/%3E%3Cpath d='M187.101 45.3404C186.322 47.4173 184.883 49.1788 183.007 50.3528L80.8605 109.595C79.0529 110.638 77.2608 110.638 75.8791 109.845L121.641 25.1757L187.101 45.3404Z' fill='url(%23paint13_linear_1448_136527)'/%3E%3Cpath d='M60.322 27.0221C61.0994 24.9457 62.5361 23.1842 64.41 22.0096L166.557 -37.2327C168.365 -38.2758 170.162 -38.2758 171.544 -37.483L125.776 47.192L60.322 27.0221Z' fill='url(%23paint14_linear_1448_136527)'/%3E%3C/g%3E%3Cpath d='M212.721 106L209 102.208L218.522 92.5037L209 82.7996L212.721 79L226 92.5411L212.721 106ZM210.069 102.208L212.721 104.903L224.931 92.4664L212.721 80.0227L210.069 82.7249L219.635 92.4291L210.069 102.208Z' fill='url(%23paint15_linear_1448_136527)'/%3E%3Cpath opacity='0.5' d='M198.2 80L195 83.1259L204.6 92.5036L195 101.881L198.2 105L207.8 95.6223L211 92.5036L198.2 80Z' fill='url(%23paint16_linear_1448_136527)'/%3E%3Cpath d='M180.891 106L177 102.218L187.163 92.5409L177 82.8635L180.891 79L195 92.5037L180.891 106ZM178.082 102.218L180.891 104.906L193.864 92.5037L180.891 80.0943L178.082 82.7891L188.237 92.4665L178.082 102.218Z' fill='url(%23paint17_linear_1448_136527)'/%3E%3Cpath opacity='0.5' d='M166.201 80L163 83.1259L172.604 92.5036L163 101.881L166.201 105L175.806 95.6223L179 92.5036L166.201 80Z' fill='url(%23paint18_linear_1448_136527)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1448_136527' x1='116.984' y1='6.59905' x2='8.56495' y2='14.7478' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237BDAFF'/%3E%3Cstop offset='1' stop-color='%2359BDEF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_1448_136527' x1='-7.80451' y1='135.211' x2='57.6305' y2='39.8371' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.77' stop-color='%2359BDEF'/%3E%3Cstop offset='0.85' stop-color='%2355B8EB'/%3E%3Cstop offset='0.93' stop-color='%2349ABE1'/%3E%3Cstop offset='1' stop-color='%233A9BD5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_1448_136527' x1='-245081' y1='102854' x2='-255503' y2='99125.1' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.77' stop-color='%2359BDEF'/%3E%3Cstop offset='0.85' stop-color='%2355B8EB'/%3E%3Cstop offset='0.93' stop-color='%2349ABE1'/%3E%3Cstop offset='1' stop-color='%233A9BD5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_1448_136527' x1='72.8903' y1='145.265' x2='29.7377' y2='46.1851' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.77' stop-color='%233A9BD5'/%3E%3Cstop offset='0.84' stop-color='%233896D2'/%3E%3Cstop offset='0.92' stop-color='%233189C9'/%3E%3Cstop offset='1' stop-color='%232573BA'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_1448_136527' x1='-248208' y1='-18632.5' x2='-231071' y2='-5234.18' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237BDAFF'/%3E%3Cstop offset='1' stop-color='%2359BDEF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear_1448_136527' x1='257259' y1='-175020' x2='230513' y2='-170961' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237BDAFF'/%3E%3Cstop offset='1' stop-color='%2359BDEF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint6_linear_1448_136527' x1='124748' y1='-79914.7' x2='138349' y2='-91885.1' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.77' stop-color='%2359BDEF'/%3E%3Cstop offset='0.85' stop-color='%2355B8EB'/%3E%3Cstop offset='0.93' stop-color='%2349ABE1'/%3E%3Cstop offset='1' stop-color='%233A9BD5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint7_linear_1448_136527' x1='-256979' y1='121627' x2='-270015' y2='117920' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.77' stop-color='%2359BDEF'/%3E%3Cstop offset='0.85' stop-color='%2355B8EB'/%3E%3Cstop offset='0.93' stop-color='%2349ABE1'/%3E%3Cstop offset='1' stop-color='%233A9BD5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint8_linear_1448_136527' x1='221747' y1='-119337' x2='213579' y2='-134831' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.77' stop-color='%233A9BD5'/%3E%3Cstop offset='0.84' stop-color='%233896D2'/%3E%3Cstop offset='0.92' stop-color='%233189C9'/%3E%3Cstop offset='1' stop-color='%232573BA'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint9_linear_1448_136527' x1='225114' y1='-150794' x2='205996' y2='-131958' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237BDAFF'/%3E%3Cstop offset='1' stop-color='%2359BDEF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint10_linear_1448_136527' x1='284531' y1='-213959' x2='254339' y2='-208177' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237BDAFF'/%3E%3Cstop offset='1' stop-color='%2359BDEF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint11_linear_1448_136527' x1='141264' y1='-100337' x2='156389' y2='-114922' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.77' stop-color='%2359BDEF'/%3E%3Cstop offset='0.85' stop-color='%2355B8EB'/%3E%3Cstop offset='0.93' stop-color='%2349ABE1'/%3E%3Cstop offset='1' stop-color='%233A9BD5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint12_linear_1448_136527' x1='-264500' y1='135144' x2='-279722' y2='131386' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.77' stop-color='%2359BDEF'/%3E%3Cstop offset='0.85' stop-color='%2355B8EB'/%3E%3Cstop offset='0.93' stop-color='%2349ABE1'/%3E%3Cstop offset='1' stop-color='%233A9BD5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint13_linear_1448_136527' x1='241018' y1='-143893' x2='230876' y2='-161400' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.77' stop-color='%233A9BD5'/%3E%3Cstop offset='0.84' stop-color='%233896D2'/%3E%3Cstop offset='0.92' stop-color='%233189C9'/%3E%3Cstop offset='1' stop-color='%232573BA'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint14_linear_1448_136527' x1='243149' y1='-180178' x2='222099' y2='-158805' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237BDAFF'/%3E%3Cstop offset='1' stop-color='%2359BDEF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint15_linear_1448_136527' x1='8618.22' y1='3227.47' x2='9012.79' y2='3227.47' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.77' stop-color='%2359BDEF'/%3E%3Cstop offset='0.85' stop-color='%2355B8EB'/%3E%3Cstop offset='0.93' stop-color='%2349ABE1'/%3E%3Cstop offset='1' stop-color='%233A9BD5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint16_linear_1448_136527' x1='7797.56' y1='2995.25' x2='8145.56' y2='2995.25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.77' stop-color='%2359BDEF'/%3E%3Cstop offset='0.85' stop-color='%2355B8EB'/%3E%3Cstop offset='0.93' stop-color='%2349ABE1'/%3E%3Cstop offset='1' stop-color='%233A9BD5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint17_linear_1448_136527' x1='8312.1' y1='3227.47' x2='8729.88' y2='3227.47' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.77' stop-color='%2359BDEF'/%3E%3Cstop offset='0.85' stop-color='%2355B8EB'/%3E%3Cstop offset='0.93' stop-color='%2349ABE1'/%3E%3Cstop offset='1' stop-color='%233A9BD5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint18_linear_1448_136527' x1='7082.36' y1='2995.25' x2='7430.2' y2='2995.25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.77' stop-color='%2359BDEF'/%3E%3Cstop offset='0.85' stop-color='%2355B8EB'/%3E%3Cstop offset='0.93' stop-color='%2349ABE1'/%3E%3Cstop offset='1' stop-color='%233A9BD5'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_1448_136527'%3E%3Crect width='269' height='165' fill='white' transform='translate(0 -42)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: top left;
    }
    &__img{

    }
    &__w{
      @include media-breakpoint-up('m'){
        width: 326px;
      }
    }
    &__title{
      margin: 0;
      line-height: (36/24);
      @extend .fz-24;
      color: #212B36;
      font-family: $font-SVNGilroy-Bold;
    }
    &__desc{
      line-height: (24/16);
      @extend .fz-16;
      color: #212B36;
    }
    .uk-form-icon{
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3333 14.2806V16.7806C18.3343 17.0127 18.2867 17.2424 18.1937 17.455C18.1008 17.6677 17.9644 17.8586 17.7934 18.0155C17.6224 18.1724 17.4205 18.2918 17.2006 18.3662C16.9808 18.4405 16.7478 18.4681 16.5167 18.4472C13.9523 18.1686 11.4892 17.2924 9.32498 15.8889C7.31151 14.6095 5.60443 12.9024 4.32499 10.8889C2.91663 8.71492 2.04019 6.23974 1.76665 3.66392C1.74583 3.43347 1.77321 3.20122 1.84707 2.98194C1.92092 2.76266 2.03963 2.56116 2.19562 2.39027C2.35162 2.21938 2.54149 2.08284 2.75314 1.98935C2.9648 1.89586 3.1936 1.84747 3.42499 1.84725H5.92499C6.32941 1.84327 6.72148 1.98648 7.02812 2.25019C7.33476 2.5139 7.53505 2.88012 7.59165 3.28058C7.69717 4.08064 7.89286 4.86619 8.17499 5.62225C8.2871 5.92052 8.31137 6.24468 8.24491 6.55632C8.17844 6.86795 8.02404 7.15401 7.79998 7.38058L6.74165 8.43892C7.92795 10.5252 9.65536 12.2526 11.7417 13.4389L12.8 12.3806C13.0266 12.1565 13.3126 12.0021 13.6243 11.9357C13.9359 11.8692 14.26 11.8935 14.5583 12.0056C15.3144 12.2877 16.0999 12.4834 16.9 12.5889C17.3048 12.646 17.6745 12.8499 17.9388 13.1618C18.203 13.4737 18.3435 13.8719 18.3333 14.2806Z' stroke='%2301040D' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      svg{
        display: none;
      }
    }
    &__inputRegister{
      height: 48px;
      border-color: #E2E8ED;
      border-radius: 8px;
      color: #828FA2;
      @extend .fz-16;
      &::placeholder{
        color: #828FA2;
      }
    }
    &__btnSubmit{
      line-height: 46px;
      border-radius: 8px;
      background-color: #141416;
      padding: 0;
      min-width: 48px;
      @extend .fz-14;
      text-transform: inherit;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.0909 7.26521C14.4968 6.8906 15.1294 6.9159 15.504 7.32172L18.7348 10.8217C19.0884 11.2047 19.0884 11.7952 18.7348 12.1782L15.504 15.6783C15.1294 16.0841 14.4968 16.1094 14.091 15.7348C13.6851 15.3602 13.6598 14.7276 14.0344 14.3217L15.716 12.5L6 12.5C5.44771 12.5 5 12.0523 5 11.5C5 10.9477 5.44771 10.5 6 10.5L15.716 10.5L14.0344 8.67829C13.6598 8.27247 13.6851 7.63981 14.0909 7.26521Z' fill='%23FCFCFD'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      &:hover{
        background-color: #2248e1;
      }
      @include media-breakpoint-up('m'){
        padding: 0 55px;
        width: inherit;
        background-image: none;
      }
      &:before{
        content: attr(data-mb);
        color: #141416;
        @include media-breakpoint-up('m'){
          content: attr(data-pc);
          color: #ffffff;
        }
      }
    }
  }
  &__bottom{
    padding-top: 23px;
    &__width{
      @include media-breakpoint-up('m'){
        width: 121px;
      }
    }
    &__width1{
      @include media-breakpoint-up('m'){
        width: 214px;
      }
    }
    &__logo{
      img{
        @include fluidx(102px,42px,height)
      }
    }
    &__socialIcon{
      display: inline-block;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 4px 100px rgba(0, 0, 0, 0.16);
      background-repeat: no-repeat;
      background-position: center;
      &:hover{

      }
      &--fb{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' fill='%23777E91'/%3E%3Cpath d='M12 10C12 9.44772 12.4477 9 13 9H14C14.5523 9 15 8.55229 15 8C15 7.44772 14.5523 7 14 7H13C11.3431 7 10 8.34315 10 10V12H9C8.44772 12 8 12.4477 8 13C8 13.5523 8.44771 14 9 14H10V20C10 20.5523 10.4477 21 11 21C11.5523 21 12 20.5523 12 20V14H14C14.5523 14 15 13.5523 15 13C15 12.4477 14.5523 12 14 12H12V10Z' fill='%23777E91'/%3E%3C/svg%3E%0A");
        &:hover{
          background-color: #2e77f2;
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' fill='%23fff'/%3E%3Cpath d='M12 10C12 9.44772 12.4477 9 13 9H14C14.5523 9 15 8.55229 15 8C15 7.44772 14.5523 7 14 7H13C11.3431 7 10 8.34315 10 10V12H9C8.44772 12 8 12.4477 8 13C8 13.5523 8.44771 14 9 14H10V20C10 20.5523 10.4477 21 11 21C11.5523 21 12 20.5523 12 20V14H14C14.5523 14 15 13.5523 15 13C15 12.4477 14.5523 12 14 12H12V10Z' fill='%23fff'/%3E%3C/svg%3E%0A");
        }
      }
      &--youtube{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 6C8.58331 6 5.77358 6.12076 3.81187 6.24224C2.94807 6.29573 2.26725 6.96195 2.19869 7.84148C2.09164 9.21467 2 10.7608 2 12C2 13.2392 2.09164 14.7853 2.19869 16.1585C2.26725 17.0381 2.94807 17.7043 3.81187 17.7578C5.77357 17.8792 8.58331 18 12 18C15.4167 18 18.2264 17.8792 20.1881 17.7578C21.0519 17.7043 21.7327 17.0381 21.8013 16.1585C21.9084 14.7853 22 13.2392 22 12C22 10.7608 21.9084 9.21467 21.8013 7.84148C21.7327 6.96195 21.0519 6.29573 20.1881 6.24224C18.2264 6.12076 15.4167 6 12 6ZM3.68826 4.24606C1.821 4.36169 0.350133 5.82087 0.204737 7.68604C0.0965153 9.07434 0 10.6819 0 12C0 13.3181 0.0965153 14.9257 0.204737 16.314C0.350133 18.1791 1.821 19.6383 3.68826 19.7539C5.68542 19.8776 8.53673 20 12 20C15.4633 20 18.3146 19.8776 20.3117 19.7539C22.179 19.6383 23.6499 18.1791 23.7953 16.314C23.9035 14.9257 24 13.3181 24 12C24 10.6819 23.9035 9.07434 23.7953 7.68604C23.6499 5.82087 22.179 4.36169 20.3117 4.24606C18.3146 4.12239 15.4633 4 12 4C8.53673 4 5.68542 4.12239 3.68826 4.24606Z' fill='%23777E91'/%3E%3Cpath d='M11.5547 9.03633L14.752 11.1679C15.3457 11.5637 15.3457 12.4361 14.752 12.832L11.5547 14.9634C10.8902 15.4065 10 14.9301 10 14.1314V9.86838C10 9.06969 10.8902 8.5933 11.5547 9.03633Z' fill='%23777E91'/%3E%3C/svg%3E%0A");
        &:hover{
          background-color: #f40105;
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 6C8.58331 6 5.77358 6.12076 3.81187 6.24224C2.94807 6.29573 2.26725 6.96195 2.19869 7.84148C2.09164 9.21467 2 10.7608 2 12C2 13.2392 2.09164 14.7853 2.19869 16.1585C2.26725 17.0381 2.94807 17.7043 3.81187 17.7578C5.77357 17.8792 8.58331 18 12 18C15.4167 18 18.2264 17.8792 20.1881 17.7578C21.0519 17.7043 21.7327 17.0381 21.8013 16.1585C21.9084 14.7853 22 13.2392 22 12C22 10.7608 21.9084 9.21467 21.8013 7.84148C21.7327 6.96195 21.0519 6.29573 20.1881 6.24224C18.2264 6.12076 15.4167 6 12 6ZM3.68826 4.24606C1.821 4.36169 0.350133 5.82087 0.204737 7.68604C0.0965153 9.07434 0 10.6819 0 12C0 13.3181 0.0965153 14.9257 0.204737 16.314C0.350133 18.1791 1.821 19.6383 3.68826 19.7539C5.68542 19.8776 8.53673 20 12 20C15.4633 20 18.3146 19.8776 20.3117 19.7539C22.179 19.6383 23.6499 18.1791 23.7953 16.314C23.9035 14.9257 24 13.3181 24 12C24 10.6819 23.9035 9.07434 23.7953 7.68604C23.6499 5.82087 22.179 4.36169 20.3117 4.24606C18.3146 4.12239 15.4633 4 12 4C8.53673 4 5.68542 4.12239 3.68826 4.24606Z' fill='%23fff'/%3E%3Cpath d='M11.5547 9.03633L14.752 11.1679C15.3457 11.5637 15.3457 12.4361 14.752 12.832L11.5547 14.9634C10.8902 15.4065 10 14.9301 10 14.1314V9.86838C10 9.06969 10.8902 8.5933 11.5547 9.03633Z' fill='%23fff'/%3E%3C/svg%3E%0A");
        }
      }
    }
    &__title{
      margin-bottom: 14px;
      color: #23262F;
      line-height: (24/16);
      @extend .fz-16;
      font-family: $font-SVNGilroy-SemiBold;
    }
    &__menuList{
      margin: 0;
      >li{
        &:nth-child(n+2){
          @include media-breakpoint-up('m'){
            margin-top: 14px;
          }
        }
        color: #212B36;
        line-height: (20/14);
        @extend .fz-14;
        font-family: $font-SVNGilroy-Medium;
        >a{
          color: #212B36;
          line-height: (20/14);
          @extend .fz-14;
          font-family: $font-SVNGilroy-Medium;
        }
      }
    }
    .uk-accordion{
      margin: 0;
      .uk-accordion-title{
        @extend .footer__bottom__title;
        margin: 0;
        @extend .fz-16;
        &:before{
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.79289 7.79289C9.40237 8.18342 9.40237 8.81658 9.79289 9.20711L12.5858 12L9.79289 14.7929C9.40237 15.1834 9.40237 15.8166 9.79289 16.2071C10.1834 16.5976 10.8166 16.5976 11.2071 16.2071L14.7071 12.7071C15.0976 12.3166 15.0976 11.6834 14.7071 11.2929L11.2071 7.79289C10.8166 7.40237 10.1834 7.40237 9.79289 7.79289Z' fill='%23141416'/%3E%3C/svg%3E%0A");
        }
      }
      >li{
        padding: 32px 0;
        margin: 0;
        border-top: 1px solid #E6E8EC;
        &:nth-child(n+2){
          border-top: 1px solid #E6E8EC;
        }
        &.uk-open{
          .uk-accordion-title{
            &:before{
              background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.2071 9.79289C15.8166 9.40237 15.1834 9.40237 14.7929 9.79289L12 12.5858L9.20711 9.79289C8.81658 9.40237 8.18342 9.40237 7.79289 9.79289C7.40237 10.1834 7.40237 10.8166 7.79289 11.2071L11.2929 14.7071C11.6834 15.0976 12.3166 15.0976 12.7071 14.7071L16.2071 11.2071C16.5976 10.8166 16.5976 10.1834 16.2071 9.79289Z' fill='%23141416'/%3E%3C/svg%3E%0A");
            }
          }
        }
      }
      .uk-accordion-content{

      }
    }
  }
  &__sectionBaohanh{
    border-top: 1px solid #E6E8EC;
    padding: 20px 0;
    margin-top: 20px;
    @include media-breakpoint-up('m'){
      margin-top: 24px;
      padding: 24px 0;
    }
    &__title{
      color: #212B36;
      line-height: 1;
      @extend .fz-16;
      font-family: $font-SVNGilroy-SemiBold;
    }
    &__desc{
      color: #212B36;
      line-height: (16/14);
      @extend .fz-14;
      font-family: $font-SVNGilroy-Medium;
      &:nth-child(n+2){
        margin-top: 12px;
      }
    }
  }
  &__sectionCopyright{
    border-top: 1px solid #E6E8EC;
    padding: 32px 0;
    @include media-breakpoint-up('m'){
      padding: 16px 0;
    }
    &__title{
      margin-bottom: 4px;
      color: #141416;
      line-height: (20/14);
      @extend .fz-14;
      font-family: $font-SVNGilroy-SemiBold;
    }
    &__desc{
      color: #777E90;
      line-height: (20/12);
      @extend .fz-12;
    }
  }
}
.back-to-top{
  position: fixed;
  right: 10px;
  transition: all .3s;
  bottom: -34px;
  opacity: 0;
  &.display{
    bottom: 69px;
    opacity: 1;
  }
}