.header{
  position: relative;
  .uk-container{
    @include media-breakpoint-up('m'){
      max-width: calc(#{$container} + 30px);
    }
  }
  &__top{
    background-color: #F4F5F6;
    .uk-navbar-item{
      min-height: 40px;
    }
    &__txt{
      color: #777E90;
      line-height: (20/12);
      @extend .fz-12;
      font-family: $font-SVNGilroy-Medium;
      span{
        color: #000;
      }
      a{
        color: #000;
      }
    }
  }
  &__mobile{
    &__icon{
      width: 32px;
      height: 32px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      &--bell{
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.2 12.6736V12.2C23.2 8.224 19.976 5 16 5C12.024 5 8.8 8.224 8.8 12.2V12.6736C8.8 14.9504 7.5888 17.0672 5.6128 18.2C4.5872 18.7888 4 19.4704 4 20.2C4 22.4096 9.3728 24.2 16 24.2C22.6272 24.2 28 22.4096 28 20.2C28 19.4704 27.4128 18.7888 26.3872 18.2C24.4112 17.0688 23.2 14.9504 23.2 12.6736Z' stroke='%23777E90' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.6672 26.6001C19.0496 28.0129 17.64 29.0001 16 29.0001C14.36 29.0001 12.952 28.0129 12.3328 26.6017' stroke='%23777E90' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
      &--cart{
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.3334 26.6665C13.3334 28.8756 11.5425 30.6665 9.33337 30.6665C7.12423 30.6665 5.33337 28.8756 5.33337 26.6665C5.33337 24.4574 7.12423 22.6665 9.33337 22.6665C11.5425 22.6665 13.3334 24.4574 13.3334 26.6665ZM10.6667 26.6665C10.6667 27.4029 10.0698 27.9998 9.33337 27.9998C8.59699 27.9998 8.00004 27.4029 8.00004 26.6665C8.00004 25.9301 8.59699 25.3332 9.33337 25.3332C10.0698 25.3332 10.6667 25.9301 10.6667 26.6665Z' fill='%23777E90'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.6667 26.6665C26.6667 28.8756 24.8758 30.6665 22.6667 30.6665C20.4576 30.6665 18.6667 28.8756 18.6667 26.6665C18.6667 24.4574 20.4576 22.6665 22.6667 22.6665C24.8758 22.6665 26.6667 24.4574 26.6667 26.6665ZM24 26.6665C24 27.4029 23.4031 27.9998 22.6667 27.9998C21.9303 27.9998 21.3334 27.4029 21.3334 26.6665C21.3334 25.9301 21.9303 25.3332 22.6667 25.3332C23.4031 25.3332 24 25.9301 24 26.6665Z' fill='%23777E90'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.80744 3.40384C3.13676 2.74521 3.93765 2.47824 4.59629 2.80756L5.9343 3.47657C7.17332 4.09608 8.0036 5.31255 8.12902 6.69213L8.19281 7.39382C8.22403 7.73721 8.51194 8.00013 8.85674 8.00013H26.4473C28.7747 8.00013 30.3856 10.3247 29.5684 12.5039L27.2307 18.738C26.6452 20.2992 25.1527 21.3335 23.4853 21.3335H10.4352C8.36643 21.3335 6.63897 19.7559 6.45167 17.6956L5.47331 6.93356C5.4315 6.4737 5.15474 6.06821 4.74173 5.8617L3.40372 5.1927C2.74508 4.86338 2.47812 4.06248 2.80744 3.40384ZM9.22038 10.6668C8.82835 10.6668 8.52095 11.0034 8.55645 11.3938L9.10739 17.4542C9.16982 18.1409 9.74564 18.6668 10.4352 18.6668H23.4853C24.0411 18.6668 24.5386 18.322 24.7338 17.8016L27.0716 11.5675C27.235 11.1317 26.9128 10.6668 26.4473 10.6668H9.22038Z' fill='%23777E90'/%3E%3C/svg%3E%0A");
      }
      &--user{
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 2.6665C13.414 2.67142 10.8852 3.42825 8.72166 4.84482C6.55812 6.26139 4.85322 8.27656 3.81461 10.6449C2.77601 13.0132 2.44853 15.6324 2.87206 18.1835C3.29559 20.7346 4.45186 23.1075 6.20002 25.0132C7.44859 26.3666 8.96395 27.4467 10.6506 28.1854C12.3373 28.9242 14.1587 29.3056 16 29.3056C17.8414 29.3056 19.6628 28.9242 21.3494 28.1854C23.0361 27.4467 24.5515 26.3666 25.8 25.0132C27.5482 23.1075 28.7045 20.7346 29.128 18.1835C29.5515 15.6324 29.224 13.0132 28.1854 10.6449C27.1468 8.27656 25.4419 6.26139 23.2784 4.84482C21.1148 3.42825 18.5861 2.67142 16 2.6665ZM16 26.6665C13.238 26.6623 10.5852 25.5869 8.60002 23.6665C9.20275 22.1992 10.2281 20.9442 11.5457 20.061C12.8633 19.1778 14.4138 18.7062 16 18.7062C17.5863 18.7062 19.1367 19.1778 20.4544 20.061C21.772 20.9442 22.7973 22.1992 23.4 23.6665C21.4148 25.5869 18.7621 26.6623 16 26.6665ZM13.3334 13.3332C13.3334 12.8058 13.4898 12.2902 13.7828 11.8516C14.0758 11.4131 14.4923 11.0713 14.9795 10.8695C15.4668 10.6677 16.003 10.6148 16.5203 10.7177C17.0375 10.8206 17.5127 11.0746 17.8856 11.4476C18.2586 11.8205 18.5126 12.2956 18.6155 12.8129C18.7183 13.3302 18.6655 13.8664 18.4637 14.3537C18.2619 14.8409 17.9201 15.2574 17.4815 15.5504C17.043 15.8434 16.5274 15.9998 16 15.9998C15.2928 15.9998 14.6145 15.7189 14.1144 15.2188C13.6143 14.7187 13.3334 14.0404 13.3334 13.3332ZM25.2134 21.3332C24.0221 19.2955 22.1886 17.7105 20 16.8265C20.6789 16.0567 21.1213 15.1074 21.274 14.0924C21.4267 13.0775 21.2833 12.04 20.861 11.1045C20.4387 10.169 19.7555 9.37525 18.8932 8.81846C18.031 8.26167 17.0264 7.9655 16 7.9655C14.9736 7.9655 13.9691 8.26167 13.1068 8.81846C12.2446 9.37525 11.5613 10.169 11.139 11.1045C10.7167 12.04 10.5733 13.0775 10.7261 14.0924C10.8788 15.1074 11.3211 16.0567 12 16.8265C9.81149 17.7105 7.97798 19.2955 6.78669 21.3332C5.83728 19.716 5.33565 17.8751 5.33336 15.9998C5.33336 13.1709 6.45716 10.4578 8.45755 8.45736C10.4579 6.45698 13.171 5.33317 16 5.33317C18.829 5.33317 21.5421 6.45698 23.5425 8.45736C25.5429 10.4578 26.6667 13.1709 26.6667 15.9998C26.6644 17.8751 26.1628 19.716 25.2134 21.3332Z' fill='%23777E90'/%3E%3C/svg%3E%0A");
      }
      &--nav{
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11L25 11' stroke='%23777E90' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M7 16L25 16' stroke='%23777E90' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M16 21L25 21' stroke='%23777E90' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }
  }
  &__bottom{
    background-color: #fff;
    z-index: 999;
    &.uk-sticky-fixed{
      @include media-breakpoint-up('m'){
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        z-index: 999;
      }
    }
    &.uk-sticky-below{
      //box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
      box-shadow: 0 5px 15px rgba(0,0,0,0.08);
      //z-index: 999;
      .sticky &{
        box-shadow: none;
      }
    }
    &__logo{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 502.45 118.71'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%232b3a96;%7D.cls-2%7Bfill:%23c59b6c;%7D.cls-3%7Bfill:%23fff;%7D.cls-4%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M194.19,59.9l0,0c-2.93-2.42-7.62-4.44-13.95-6s-9.22-2.82-10.47-3.64A4.82,4.82,0,0,1,167.52,46v-.16a4.69,4.69,0,0,1,2-4,10.5,10.5,0,0,1,6.17-1.73,22,22,0,0,1,11.1,3.15,6,6,0,0,0,7.85-1.75l3-4.27-.72-.59a32.75,32.75,0,0,0-21.1-7.31c-5.8,0-10.67,1.59-14.51,4.75a15.77,15.77,0,0,0-5.75,12.61v.16c0,5.21,1.78,9.24,5.28,12,2.73,2.24,7.39,4.15,14.26,5.84,5,1.19,8.23,2.35,10,3.55a4.78,4.78,0,0,1,2,4.11v.17a5,5,0,0,1-2.26,4.28c-1.66,1.22-3.87,1.63-6.75,1.82-4.93.31-10.14-2.32-13.66-4.6a6,6,0,0,0-7.89,1.16L153,79.44l.71.64a35,35,0,0,0,24.2,9.29c6.29,0,11.38-1.57,15.14-4.66a16.11,16.11,0,0,0,6-13.18v-.16A14.68,14.68,0,0,0,194.19,59.9Z'/%3E%3Cpath class='cls-1' d='M215.32,88.56h5.89V36a5.88,5.88,0,0,0-5.88-5.88h-6V82.56A6,6,0,0,0,215.32,88.56Z'/%3E%3Cpath class='cls-1' d='M263,56,249.4,34.81a10.18,10.18,0,0,0-8.56-4.67H234.3V88.56h6.1A5.64,5.64,0,0,0,246,82.93V50.54L262.17,74.7h1.38l16.3-24.33V82.93a5.63,5.63,0,0,0,5.64,5.63h6.26V30.14h-6.54a10.18,10.18,0,0,0-8.56,4.67Z'/%3E%3Cpath class='cls-1' d='M350,50a18.75,18.75,0,0,0-6.07-14.45c-4.08-3.59-9.59-5.41-16.37-5.41H304.27V88.56h6.2a5.71,5.71,0,0,0,5.71-5.71V70.42h10.21c6.76,0,12.34-1.72,16.57-5.12,4.64-3.63,7-8.72,7-15.14Zm-33.78-8.84h10.53c3.51,0,6.21.77,8.24,2.36a8.11,8.11,0,0,1,2.94,6.72v.17a8.09,8.09,0,0,1-2.95,6.5,12.36,12.36,0,0,1-8.23,2.58H316.18Z'/%3E%3Cpath class='cls-1' d='M371.82,29.74l-25.7,58.82h7.78a6.89,6.89,0,0,0,6.34-4.19l4-9.43h25.37l3.95,9.4a6.88,6.88,0,0,0,6.35,4.22H408l-25.7-58.82Zm13.33,34.43H368.74l8.17-19.07Z'/%3E%3Cpath class='cls-1' d='M442.4,30.14,427,54.2,411.81,30.14H397.65l23.26,35.48V88.56h4.48a7.5,7.5,0,0,0,7.5-7.5V65.38l23.27-35.24Z'/%3E%3Cpath class='cls-1' d='M448.94,81.25h0a3,3,0,0,1,3,3v.22a3,3,0,0,1-3,3h0a3,3,0,0,1-3-3v-.22A3,3,0,0,1,448.94,81.25Z'/%3E%3Cpath class='cls-1' d='M452.32,63.78h5.83l6.36,17.38,6.4-17.38h5.69l-9.67,23.83H462Z'/%3E%3Cpath class='cls-1' d='M481.22,63.78h5.42v3.63A8.74,8.74,0,0,1,494,63.29a8,8,0,0,1,6.22,2.46,9.38,9.38,0,0,1,2.2,6.59V87.43H497V74c0-3.85-1.7-5.77-5.06-5.77a5.15,5.15,0,0,0-3.86,1.56,6,6,0,0,0-1.47,4.3V87.43h-5.42Z'/%3E%3Cpath class='cls-2' d='M73.93,4.19A31.52,31.52,0,0,0,27.08,36.34,31.29,31.29,0,0,0,39.6,57l28,20.51A12,12,0,0,1,53.39,96.89L44.8,114.53a31.16,31.16,0,0,0,15.61,4.18,32.16,32.16,0,0,0,4.87-.38A31.52,31.52,0,0,0,79.11,61.75l-28-20.51A12,12,0,0,1,65.34,21.82Z'/%3E%3Cpath class='cls-2' d='M114.52,73.93A31.53,31.53,0,0,0,61.75,39.6l-20.51,28A12,12,0,0,1,21.81,53.39L4.18,44.8A31.16,31.16,0,0,0,0,60.41a32.16,32.16,0,0,0,.38,4.87,31.52,31.52,0,0,0,36,26.35A31.29,31.29,0,0,0,57,79.11l20.51-28A12,12,0,1,1,96.88,65.34Z'/%3E%3Cpolygon class='cls-3' points='35.3 74.82 45.34 54.31 63.4 63.15 50.14 90.24 38.51 84.55 35.3 74.82'/%3E%3Cpolygon class='cls-3' points='34.15 38.52 43.89 35.3 64.4 45.34 55.56 63.4 28.46 50.15 34.15 38.52'/%3E%3Cpath class='cls-2' d='M62.22,46.08,54.81,61.22,30.64,49.4l4.68-9.55,8.45-2.79,18.45,9m4.36-1.49L44,33.55,33,37.18l-6.7,13.71,30,14.69,10.27-21Z'/%3E%3Cpolygon class='cls-3' points='68.56 28.47 80.19 34.16 83.4 43.89 73.37 64.4 55.31 55.56 68.56 28.47'/%3E%3Cpath class='cls-2' d='M78.86,35.32l2.79,8.45-9,18.45L57.49,54.81,69.31,30.64l9.55,4.68M81.53,33l-13.71-6.7-14.69,30,21,10.27L85.16,44,81.53,33Z'/%3E%3Cpolygon class='cls-3' points='63.15 55.31 90.24 68.56 84.55 80.19 74.82 83.41 54.31 73.37 63.15 55.31'/%3E%3Cpath class='cls-2' d='M65.58,62.4l-7.44-3.64a5.13,5.13,0,0,1-1.12,2,3.88,3.88,0,0,1-.87.7l5.07,2.48L49.4,88.06l-9.55-4.67-2.79-8.45L44.85,59a14.68,14.68,0,0,1-2.8-1.69L33.55,74.7l3.63,11,13.71,6.7Z'/%3E%3Cpath class='cls-2' d='M92.42,67.82l-30-14.69-3.53,7.21a4.61,4.61,0,0,1,2,1.14,4.33,4.33,0,0,1,.68.88l2.38-4.87L88.06,69.31l-4.67,9.55-8.45,2.79L57.81,73.27l-.18.37-.16.43c-.14.42-.27.83-.4,1.25a5,5,0,0,1-.43,1L74.7,85.16l11-3.63Z'/%3E%3Cline class='cls-4' x1='73.93' y1='4.19' x2='65.34' y2='21.82'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      canvas{
        @include fluidx(162px,140px,width);
        @include media-breakpoint-down('x'){
          width: 88px !important;
        }
      }
    }
    .uk-logo{
      @include media-breakpoint-up('m'){
        //margin-right: 103px;
      }
      img{
        @include fluidx(48px,42px,height);
      }
    }
    .uk-navbar-dropdown{
      $x:15px;
      margin: 0;
      padding: 0px 20px;
      .uk-nav{
        >li{
          >a{
            color: #141416;
            @extend .fz-16;
            font-family: $font-SVNGilroy-SemiBold;
            padding: #{$x} 0px;
            text-align: left !important;
            display: block;
            &:hover{
              color: #3772FF;
            }
          }
          &:nth-child(n+2){
            >a{
              border-top: 1px solid #E6E8EC;
            }
          }
        }
      }
    }
    .uk-navbar-toggle,
    .uk-navbar-item{
      @extend .header__bottom__navbarItem;
    }
    .uk-navbar-nav{
      >li{
        >a{
          padding: 0 20px;
          sup{
            color: #E73C3D;
            position: relative;
            top: -3px;
            left: -2px;
          }
          @extend .header__bottom__navbarItem;
          color: #1D1E41;
          @extend .fz-16;
          font-family: $font-SVNGilroy-SemiBold;
          text-transform: inherit;
          background-repeat: no-repeat;
          background-position: center right 3px;
          &:hover{
            color: #3772FF;
          }
          &[aria-expanded]{
            padding-right: 25px;
          }
          &[aria-expanded="false"]{
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.2071 9.79289C15.8166 9.40237 15.1834 9.40237 14.7929 9.79289L12 12.5858L9.20711 9.79289C8.81658 9.40237 8.18342 9.40237 7.79289 9.79289C7.40237 10.1834 7.40237 10.8166 7.79289 11.2071L11.2929 14.7071C11.6834 15.0976 12.3166 15.0976 12.7071 14.7071L16.2071 11.2071C16.5976 10.8166 16.5976 10.1834 16.2071 9.79289Z' fill='%231D1E41'/%3E%3C/svg%3E%0A");
          }
          &[aria-expanded="true"]{
            color: #3772FF;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.79289 14.2071C8.18342 14.5976 8.81658 14.5976 9.20711 14.2071L12 11.4142L14.7929 14.2071C15.1834 14.5976 15.8166 14.5976 16.2071 14.2071C16.5976 13.8166 16.5976 13.1834 16.2071 12.7929L12.7071 9.29289C12.3166 8.90237 11.6834 8.90237 11.2929 9.29289L7.79289 12.7929C7.40237 13.1834 7.40237 13.8166 7.79289 14.2071Z' fill='%231D1E41'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
    &__iconHome{
      position: relative;
      top: -3px;
      display: inline-block;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.39225 1.90162C10.9089 0.699459 13.0622 0.699459 14.5789 1.90162L14.5812 1.90348L21.154 7.14521C21.9881 7.78658 22.4855 8.77179 22.4999 9.82413L22.5001 9.83784L22.5 18.5618C22.5 21.0224 20.4879 23 18.0271 23H16.103L16.0798 22.9997C14.8771 22.9718 13.9003 21.9956 13.9005 20.7809C13.9005 20.7808 13.9005 20.781 13.9005 20.7809V17.7047C13.9005 17.4827 13.716 17.2856 13.4671 17.2856H10.5853C10.3389 17.2885 10.1572 17.4844 10.1572 17.7046V20.7714C10.1572 20.8616 10.1453 20.9491 10.1229 21.0322C9.99265 22.1474 9.03769 23 7.89696 23H5.97291C3.51209 23 1.5 21.0224 1.5 18.5618V9.83748C1.51042 8.78297 2.00869 7.79496 2.84608 7.15466L9.39225 1.90162ZM8.15722 20.7714V17.7047C8.15722 17.7047 8.15722 17.7047 8.15722 17.7047C8.1572 16.3656 9.2462 15.2944 10.5744 15.2856L10.581 15.2856L13.4671 15.2856C14.8015 15.2856 15.9005 16.3592 15.9005 17.7047V20.7809C15.9005 20.8887 15.9882 20.9933 16.119 21H18.0271C19.4023 21 20.5 19.8989 20.5 18.5618V9.84562C20.4922 9.40992 20.2848 8.99799 19.931 8.72777L19.9145 8.71486L13.3366 3.46898C13.3362 3.4687 13.3358 3.46842 13.3355 3.46814C12.5474 2.84424 11.4252 2.84395 10.6367 3.46728L4.08789 8.72249C4.08066 8.72829 4.07335 8.73399 4.06597 8.73959C3.71223 9.00763 3.50561 9.41869 3.5 9.85296V18.5618C3.5 19.8989 4.59766 21 5.97291 21H7.89696C8.03957 21 8.13797 20.8882 8.13797 20.7714H8.15722Z' fill='%23201C18'/%3E%3C/svg%3E%0A");
      .uk-navbar-nav>li>a:hover &{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.39225 1.90162C10.9089 0.699459 13.0622 0.699459 14.5789 1.90162L14.5812 1.90348L21.154 7.14521C21.9881 7.78658 22.4855 8.77179 22.4999 9.82413L22.5001 9.83784L22.5 18.5618C22.5 21.0224 20.4879 23 18.0271 23H16.103L16.0798 22.9997C14.8771 22.9718 13.9003 21.9956 13.9005 20.7809C13.9005 20.7808 13.9005 20.781 13.9005 20.7809V17.7047C13.9005 17.4827 13.716 17.2856 13.4671 17.2856H10.5853C10.3389 17.2885 10.1572 17.4844 10.1572 17.7046V20.7714C10.1572 20.8616 10.1453 20.9491 10.1229 21.0322C9.99265 22.1474 9.03769 23 7.89696 23H5.97291C3.51209 23 1.5 21.0224 1.5 18.5618V9.83748C1.51042 8.78297 2.00869 7.79496 2.84608 7.15466L9.39225 1.90162ZM8.15722 20.7714V17.7047C8.15722 17.7047 8.15722 17.7047 8.15722 17.7047C8.1572 16.3656 9.2462 15.2944 10.5744 15.2856L10.581 15.2856L13.4671 15.2856C14.8015 15.2856 15.9005 16.3592 15.9005 17.7047V20.7809C15.9005 20.8887 15.9882 20.9933 16.119 21H18.0271C19.4023 21 20.5 19.8989 20.5 18.5618V9.84562C20.4922 9.40992 20.2848 8.99799 19.931 8.72777L19.9145 8.71486L13.3366 3.46898C13.3362 3.4687 13.3358 3.46842 13.3355 3.46814C12.5474 2.84424 11.4252 2.84395 10.6367 3.46728L4.08789 8.72249C4.08066 8.72829 4.07335 8.73399 4.06597 8.73959C3.71223 9.00763 3.50561 9.41869 3.5 9.85296V18.5618C3.5 19.8989 4.59766 21 5.97291 21H7.89696C8.03957 21 8.13797 20.8882 8.13797 20.7714H8.15722Z' fill='%233772FF'/%3E%3C/svg%3E%0A");
      }
    }
    &__navbarItem{
      min-height: 60px;
      @include media-breakpoint-up('m'){
        min-height: 76px;
      }
    }
    &__divider{
      position: relative;
      @include media-breakpoint-up('m'){
        //margin-left: 50px;
      }
      &:after{
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 40px;
        background-color: #E6E8EC;
        display: inline-block;
      }
    }
    &__btn{
      border-radius: 8px;
      line-height: 44px;
      text-transform: inherit;
      @extend .fz-14;
      font-family: $font-SVNGilroy-Bold;
      &:nth-child(n+2){
        margin-left: 16px;
      }
      &--login{
        background-color: #3772FF;
      }
      &--register{
        background-color: #f7f7f7;
      }
    }
    &__profile{
      cursor: pointer;
      & + .uk-dropdown{
        min-width: 256px;
        background: #FFFFFF;
        box-shadow: 0 4px 30px rgba(27, 25, 86, 0.1);
        border-radius: 12px;
        padding: 10px 15px;
        .uk-nav{
          >li{
            &:nth-child(n+2){
              >a{
                border-top: 1px solid #E6E8EC;
              }
            }
            >a{
              color: #777E91;
              @extend .fz-14;
              font-family: $font-SVNGilroy-Bold;
              padding: 10px 0;
              padding-left: 30px;
              background-repeat: no-repeat;
              background-position: center left;
              &:hover{
                color: #141416;
              }
            }
            &.acc{
              >a{
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_756:11962)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 10.8341C6.77834 10.8341 4.16667 13.4458 4.16667 16.6675V18.3341C4.16667 18.7944 3.79357 19.1675 3.33333 19.1675C2.8731 19.1675 2.5 18.7944 2.5 18.3341V16.6675C2.5 12.5253 5.85786 9.16748 10 9.16748C14.1421 9.16748 17.5 12.5253 17.5 16.6675V18.3341C17.5 18.7944 17.1269 19.1675 16.6667 19.1675C16.2064 19.1675 15.8333 18.7944 15.8333 18.3341V16.6675C15.8333 13.4458 13.2217 10.8341 10 10.8341Z' fill='%23777E91'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 9.16781C11.8409 9.16781 13.3333 7.67542 13.3333 5.83447C13.3333 3.99352 11.8409 2.50114 10 2.50114C8.15905 2.50114 6.66667 3.99352 6.66667 5.83447C6.66667 7.67542 8.15905 9.16781 10 9.16781ZM10 10.8345C12.7614 10.8345 15 8.5959 15 5.83447C15 3.07305 12.7614 0.834473 10 0.834473C7.23858 0.834473 5 3.07305 5 5.83447C5 8.5959 7.23858 10.8345 10 10.8345Z' fill='%23777E91'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_756:11962'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.000976562)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                &:hover{
                  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_756:11962)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 10.8341C6.77834 10.8341 4.16667 13.4458 4.16667 16.6675V18.3341C4.16667 18.7944 3.79357 19.1675 3.33333 19.1675C2.8731 19.1675 2.5 18.7944 2.5 18.3341V16.6675C2.5 12.5253 5.85786 9.16748 10 9.16748C14.1421 9.16748 17.5 12.5253 17.5 16.6675V18.3341C17.5 18.7944 17.1269 19.1675 16.6667 19.1675C16.2064 19.1675 15.8333 18.7944 15.8333 18.3341V16.6675C15.8333 13.4458 13.2217 10.8341 10 10.8341Z' fill='%23141416'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 9.16781C11.8409 9.16781 13.3333 7.67542 13.3333 5.83447C13.3333 3.99352 11.8409 2.50114 10 2.50114C8.15905 2.50114 6.66667 3.99352 6.66667 5.83447C6.66667 7.67542 8.15905 9.16781 10 9.16781ZM10 10.8345C12.7614 10.8345 15 8.5959 15 5.83447C15 3.07305 12.7614 0.834473 10 0.834473C7.23858 0.834473 5 3.07305 5 5.83447C5 8.5959 7.23858 10.8345 10 10.8345Z' fill='%23141416'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_756:11962'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.000976562)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                }
              }
            }
            &.history{
              >a{
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_756:11970)'%3E%3Cpath d='M5.83333 2.50098C3.99238 2.50098 2.5 3.99336 2.5 5.83431V15.8343C2.5 17.6753 3.99238 19.1676 5.83333 19.1676H14.1667C16.0076 19.1676 17.5 17.6753 17.5 15.8343V5.83431C17.5 3.99336 16.0076 2.50098 14.1667 2.50098V4.16764C15.0871 4.16764 15.8333 4.91384 15.8333 5.83431V15.8343C15.8333 16.7548 15.0871 17.501 14.1667 17.501H5.83333C4.91286 17.501 4.16667 16.7548 4.16667 15.8343V5.83431C4.16667 4.91384 4.91286 4.16764 5.83333 4.16764V2.50098Z' fill='%23777E91'/%3E%3Cpath d='M6.66683 9.16764C7.12707 9.16764 7.50016 8.79455 7.50016 8.33431C7.50016 7.87407 7.12707 7.50098 6.66683 7.50098C6.20659 7.50098 5.8335 7.87407 5.8335 8.33431C5.8335 8.79455 6.20659 9.16764 6.66683 9.16764Z' fill='%23777E91'/%3E%3Cpath d='M10.0002 7.50098C9.53993 7.50098 9.16683 7.87407 9.16683 8.33431C9.16683 8.79455 9.53993 9.16764 10.0002 9.16764H13.3335C13.7937 9.16764 14.1668 8.79455 14.1668 8.33431C14.1668 7.87407 13.7937 7.50098 13.3335 7.50098H10.0002Z' fill='%23777E91'/%3E%3Cpath d='M10.0002 10.8343C9.53993 10.8343 9.16683 11.2074 9.16683 11.6676C9.16683 12.1279 9.53993 12.501 10.0002 12.501H13.3335C13.7937 12.501 14.1668 12.1279 14.1668 11.6676C14.1668 11.2074 13.7937 10.8343 13.3335 10.8343H10.0002Z' fill='%23777E91'/%3E%3Cpath d='M9.16683 15.001C9.16683 14.5407 9.53993 14.1676 10.0002 14.1676H11.6668C12.1271 14.1676 12.5002 14.5407 12.5002 15.001C12.5002 15.4612 12.1271 15.8343 11.6668 15.8343H10.0002C9.53993 15.8343 9.16683 15.4612 9.16683 15.001Z' fill='%23777E91'/%3E%3Cpath d='M7.50016 11.6676C7.50016 12.1279 7.12707 12.501 6.66683 12.501C6.20659 12.501 5.8335 12.1279 5.8335 11.6676C5.8335 11.2074 6.20659 10.8343 6.66683 10.8343C7.12707 10.8343 7.50016 11.2074 7.50016 11.6676Z' fill='%23777E91'/%3E%3Cpath d='M6.66683 15.8343C7.12707 15.8343 7.50016 15.4612 7.50016 15.001C7.50016 14.5407 7.12707 14.1676 6.66683 14.1676C6.20659 14.1676 5.8335 14.5407 5.8335 15.001C5.8335 15.4612 6.20659 15.8343 6.66683 15.8343Z' fill='%23777E91'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 2.50114H7.5C7.03976 2.50114 6.66667 2.87424 6.66667 3.33447C6.66667 3.79471 7.03976 4.16781 7.5 4.16781H12.5C12.9602 4.16781 13.3333 3.79471 13.3333 3.33447C13.3333 2.87424 12.9602 2.50114 12.5 2.50114ZM7.5 0.834473C6.11929 0.834473 5 1.95376 5 3.33447C5 4.71518 6.11929 5.83447 7.5 5.83447H12.5C13.8807 5.83447 15 4.71518 15 3.33447C15 1.95376 13.8807 0.834473 12.5 0.834473H7.5Z' fill='%23777E91'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_756:11970'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.000976562)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                &:hover{
                  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_756:11970)'%3E%3Cpath d='M5.83333 2.50098C3.99238 2.50098 2.5 3.99336 2.5 5.83431V15.8343C2.5 17.6753 3.99238 19.1676 5.83333 19.1676H14.1667C16.0076 19.1676 17.5 17.6753 17.5 15.8343V5.83431C17.5 3.99336 16.0076 2.50098 14.1667 2.50098V4.16764C15.0871 4.16764 15.8333 4.91384 15.8333 5.83431V15.8343C15.8333 16.7548 15.0871 17.501 14.1667 17.501H5.83333C4.91286 17.501 4.16667 16.7548 4.16667 15.8343V5.83431C4.16667 4.91384 4.91286 4.16764 5.83333 4.16764V2.50098Z' fill='%23141416'/%3E%3Cpath d='M6.66683 9.16764C7.12707 9.16764 7.50016 8.79455 7.50016 8.33431C7.50016 7.87407 7.12707 7.50098 6.66683 7.50098C6.20659 7.50098 5.8335 7.87407 5.8335 8.33431C5.8335 8.79455 6.20659 9.16764 6.66683 9.16764Z' fill='%23141416'/%3E%3Cpath d='M10.0002 7.50098C9.53993 7.50098 9.16683 7.87407 9.16683 8.33431C9.16683 8.79455 9.53993 9.16764 10.0002 9.16764H13.3335C13.7937 9.16764 14.1668 8.79455 14.1668 8.33431C14.1668 7.87407 13.7937 7.50098 13.3335 7.50098H10.0002Z' fill='%23141416'/%3E%3Cpath d='M10.0002 10.8343C9.53993 10.8343 9.16683 11.2074 9.16683 11.6676C9.16683 12.1279 9.53993 12.501 10.0002 12.501H13.3335C13.7937 12.501 14.1668 12.1279 14.1668 11.6676C14.1668 11.2074 13.7937 10.8343 13.3335 10.8343H10.0002Z' fill='%23141416'/%3E%3Cpath d='M9.16683 15.001C9.16683 14.5407 9.53993 14.1676 10.0002 14.1676H11.6668C12.1271 14.1676 12.5002 14.5407 12.5002 15.001C12.5002 15.4612 12.1271 15.8343 11.6668 15.8343H10.0002C9.53993 15.8343 9.16683 15.4612 9.16683 15.001Z' fill='%23141416'/%3E%3Cpath d='M7.50016 11.6676C7.50016 12.1279 7.12707 12.501 6.66683 12.501C6.20659 12.501 5.8335 12.1279 5.8335 11.6676C5.8335 11.2074 6.20659 10.8343 6.66683 10.8343C7.12707 10.8343 7.50016 11.2074 7.50016 11.6676Z' fill='%23141416'/%3E%3Cpath d='M6.66683 15.8343C7.12707 15.8343 7.50016 15.4612 7.50016 15.001C7.50016 14.5407 7.12707 14.1676 6.66683 14.1676C6.20659 14.1676 5.8335 14.5407 5.8335 15.001C5.8335 15.4612 6.20659 15.8343 6.66683 15.8343Z' fill='%23141416'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 2.50114H7.5C7.03976 2.50114 6.66667 2.87424 6.66667 3.33447C6.66667 3.79471 7.03976 4.16781 7.5 4.16781H12.5C12.9602 4.16781 13.3333 3.79471 13.3333 3.33447C13.3333 2.87424 12.9602 2.50114 12.5 2.50114ZM7.5 0.834473C6.11929 0.834473 5 1.95376 5 3.33447C5 4.71518 6.11929 5.83447 7.5 5.83447H12.5C13.8807 5.83447 15 4.71518 15 3.33447C15 1.95376 13.8807 0.834473 12.5 0.834473H7.5Z' fill='%23141416'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_756:11970'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.000976562)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                }
              }
            }
            &.logout{
              >a{
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.19107 12.5017C9.65098 12.4844 10.0379 12.8431 10.0552 13.303C10.0944 14.3399 10.1494 15.0966 10.2034 15.6392C10.2566 16.1735 10.5792 16.495 11.0289 16.5499C11.5591 16.6148 12.307 16.6678 13.3334 16.6678C14.3598 16.6678 15.1078 16.6148 15.638 16.5499C16.0874 16.495 16.4101 16.1734 16.4634 15.6389C16.5637 14.6318 16.6667 12.8918 16.6667 10.0011C16.6667 7.11046 16.5637 5.37048 16.4634 4.36337C16.4101 3.82891 16.0874 3.50728 15.638 3.45234C15.1078 3.38752 14.3598 3.33447 13.3334 3.33447C12.307 3.33447 11.5591 3.38751 11.0289 3.45233C10.5792 3.5073 10.2566 3.82879 10.2034 4.36311C10.1494 4.90568 10.0944 5.66242 10.0552 6.69924C10.0379 7.15915 9.65098 7.51791 9.19107 7.50055C8.73116 7.48318 8.3724 7.09628 8.38976 6.63637C8.42994 5.57217 8.4869 4.78066 8.54495 4.1979C8.667 2.97276 9.52117 1.95756 10.8266 1.79798C11.4343 1.72369 12.2507 1.6678 13.3334 1.6678C14.4161 1.6678 15.2325 1.7237 15.8402 1.79798C17.1458 1.95759 17.9998 2.97326 18.1218 4.19816C18.2293 5.27671 18.3334 7.07487 18.3334 10.0011C18.3334 12.9274 18.2293 14.7256 18.1218 15.8041C17.9998 17.029 17.1458 18.0447 15.8402 18.2043C15.2325 18.2786 14.4161 18.3345 13.3334 18.3345C12.2507 18.3345 11.4343 18.2786 10.8266 18.2043C9.52117 18.0447 8.667 17.0295 8.54495 15.8044C8.4869 15.2216 8.42994 14.4301 8.38976 13.3659C8.3724 12.906 8.73116 12.5191 9.19107 12.5017Z' fill='%23777E91'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.00576 12.3284C6.3312 12.6538 6.3312 13.1815 6.00576 13.5069C5.68032 13.8323 5.15269 13.8323 4.82725 13.5069L1.91058 10.5902C1.58514 10.2648 1.58514 9.73716 1.91058 9.41172L4.82725 6.49505C5.15269 6.16962 5.68032 6.16962 6.00576 6.49505C6.3312 6.82049 6.3312 7.34813 6.00576 7.67357L4.51168 9.16764H12.4998C12.9601 9.16764 13.3332 9.54074 13.3332 10.001C13.3332 10.4612 12.9601 10.8343 12.4998 10.8343L4.51168 10.8343L6.00576 12.3284Z' fill='%23777E91'/%3E%3C/svg%3E%0A");
                &:hover{
                  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.19107 12.5017C9.65098 12.4844 10.0379 12.8431 10.0552 13.303C10.0944 14.3399 10.1494 15.0966 10.2034 15.6392C10.2566 16.1735 10.5792 16.495 11.0289 16.5499C11.5591 16.6148 12.307 16.6678 13.3334 16.6678C14.3598 16.6678 15.1078 16.6148 15.638 16.5499C16.0874 16.495 16.4101 16.1734 16.4634 15.6389C16.5637 14.6318 16.6667 12.8918 16.6667 10.0011C16.6667 7.11046 16.5637 5.37048 16.4634 4.36337C16.4101 3.82891 16.0874 3.50728 15.638 3.45234C15.1078 3.38752 14.3598 3.33447 13.3334 3.33447C12.307 3.33447 11.5591 3.38751 11.0289 3.45233C10.5792 3.5073 10.2566 3.82879 10.2034 4.36311C10.1494 4.90568 10.0944 5.66242 10.0552 6.69924C10.0379 7.15915 9.65098 7.51791 9.19107 7.50055C8.73116 7.48318 8.3724 7.09628 8.38976 6.63637C8.42994 5.57217 8.4869 4.78066 8.54495 4.1979C8.667 2.97276 9.52117 1.95756 10.8266 1.79798C11.4343 1.72369 12.2507 1.6678 13.3334 1.6678C14.4161 1.6678 15.2325 1.7237 15.8402 1.79798C17.1458 1.95759 17.9998 2.97326 18.1218 4.19816C18.2293 5.27671 18.3334 7.07487 18.3334 10.0011C18.3334 12.9274 18.2293 14.7256 18.1218 15.8041C17.9998 17.029 17.1458 18.0447 15.8402 18.2043C15.2325 18.2786 14.4161 18.3345 13.3334 18.3345C12.2507 18.3345 11.4343 18.2786 10.8266 18.2043C9.52117 18.0447 8.667 17.0295 8.54495 15.8044C8.4869 15.2216 8.42994 14.4301 8.38976 13.3659C8.3724 12.906 8.73116 12.5191 9.19107 12.5017Z' fill='%23141416'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.00576 12.3284C6.3312 12.6538 6.3312 13.1815 6.00576 13.5069C5.68032 13.8323 5.15269 13.8323 4.82725 13.5069L1.91058 10.5902C1.58514 10.2648 1.58514 9.73716 1.91058 9.41172L4.82725 6.49505C5.15269 6.16962 5.68032 6.16962 6.00576 6.49505C6.3312 6.82049 6.3312 7.34813 6.00576 7.67357L4.51168 9.16764H12.4998C12.9601 9.16764 13.3332 9.54074 13.3332 10.001C13.3332 10.4612 12.9601 10.8343 12.4998 10.8343L4.51168 10.8343L6.00576 12.3284Z' fill='%23141416'/%3E%3C/svg%3E%0A");
                }
              }
            }
          }
        }
      }
    }
    &__wishList{
      &__icon{
        background-image: url(images/Icons/Heart/Line.png);
        background-position: center;
        background-repeat: no-repeat;
        $x:24px;
        width: #{$x};
        height: #{$x};
        display: inline-block;
        &:hover{
          background-image: url(images/Icons/Heart/Line.png);
        }
        &.uk-active{
          background-image: url("images/Icons/Heart/Line.png");
          &:hover{

          }
        }
      }
    }
    &__cart{
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 20C10 21.6569 8.65685 23 7 23C5.34315 23 4 21.6569 4 20C4 18.3431 5.34315 17 7 17C8.65685 17 10 18.3431 10 20ZM8 20C8 20.5523 7.55228 21 7 21C6.44772 21 6 20.5523 6 20C6 19.4477 6.44772 19 7 19C7.55228 19 8 19.4477 8 20Z' fill='%23777E90'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 20C20 21.6569 18.6569 23 17 23C15.3431 23 14 21.6569 14 20C14 18.3431 15.3431 17 17 17C18.6569 17 20 18.3431 20 20ZM18 20C18 20.5523 17.5523 21 17 21C16.4477 21 16 20.5523 16 20C16 19.4477 16.4477 19 17 19C17.5523 19 18 19.4477 18 20Z' fill='%23777E90'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.10579 2.55301C2.35278 2.05903 2.95345 1.8588 3.44743 2.10579L4.45094 2.60755C5.38021 3.07218 6.00292 3.98454 6.09698 5.01922L6.14482 5.54549C6.16823 5.80303 6.38417 6.00022 6.64277 6.00022H19.8357C21.5812 6.00022 22.7894 7.74365 22.1765 9.37803L20.4232 14.0536C19.9841 15.2245 18.8648 16.0002 17.6142 16.0002H7.82665C6.27504 16.0002 4.97944 14.8171 4.83897 13.2718L4.10519 5.20029C4.07384 4.8554 3.86627 4.55128 3.55651 4.3964L2.55301 3.89465C2.05903 3.64766 1.8588 3.04698 2.10579 2.55301ZM6.9155 8.00022C6.62148 8.00022 6.39093 8.25268 6.41755 8.54549L6.83076 13.0908C6.87758 13.6058 7.30944 14.0002 7.82665 14.0002H17.6142C18.0311 14.0002 18.4042 13.7416 18.5505 13.3513L20.3039 8.67578C20.4265 8.3489 20.1848 8.00022 19.8357 8.00022H6.9155Z' fill='%23777E90'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      &:focus{
        outline: none;
      }
      &[aria-expanded="true"],
      &:hover{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 20C10 21.6569 8.65685 23 7 23C5.34315 23 4 21.6569 4 20C4 18.3431 5.34315 17 7 17C8.65685 17 10 18.3431 10 20ZM8 20C8 20.5523 7.55228 21 7 21C6.44771 21 6 20.5523 6 20C6 19.4477 6.44771 19 7 19C7.55228 19 8 19.4477 8 20Z' fill='%23141416'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 20C20 21.6569 18.6569 23 17 23C15.3431 23 14 21.6569 14 20C14 18.3431 15.3431 17 17 17C18.6569 17 20 18.3431 20 20ZM18 20C18 20.5523 17.5523 21 17 21C16.4477 21 16 20.5523 16 20C16 19.4477 16.4477 19 17 19C17.5523 19 18 19.4477 18 20Z' fill='%23141416'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.10579 2.55301C2.35278 2.05903 2.95345 1.8588 3.44743 2.10579L4.45094 2.60755C5.38021 3.07218 6.00292 3.98454 6.09698 5.01922L6.14482 5.54549C6.16823 5.80303 6.38417 6.00022 6.64277 6.00022H19.8357C21.5812 6.00022 22.7894 7.74365 22.1765 9.37803L20.4232 14.0536C19.9841 15.2245 18.8648 16.0002 17.6142 16.0002H7.82665C6.27504 16.0002 4.97944 14.8171 4.83897 13.2718L4.10519 5.20029C4.07384 4.8554 3.86627 4.55128 3.55651 4.3964L2.55301 3.89465C2.05903 3.64766 1.8588 3.04698 2.10579 2.55301ZM6.9155 8.00022C6.62148 8.00022 6.39093 8.25268 6.41755 8.54549L6.83076 13.0908C6.87758 13.6058 7.30944 14.0002 7.82665 14.0002H17.6142C18.0311 14.0002 18.4042 13.7416 18.5505 13.3513L20.3039 8.67578C20.4265 8.3489 20.1848 8.00022 19.8357 8.00022H6.9155Z' fill='%23141416'/%3E%3C/svg%3E%0A");
      }
      &[data-count]{
        position: relative;
        &:before{
          position: absolute;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: 2px solid #ffffff;
          box-sizing: border-box;
          content: attr(data-count);
          color: #ffffff;
          width: 16px;
          height: 16px;
          background-color: #E73C3D;
          top: -5px;
          right: -4px;
          font-family: $font-SVNGilroy-Bold;
          @extend .fz-10;
        }
      }
      & + .uk-dropdown{
        min-width: 332px;
        background: #FFFFFF;
        box-shadow: 0 4px 30px rgba(27, 25, 86, 0.1);
        border-radius: 12px;
        padding: 10px 15px;
        >*{
          margin-left: 0;
          &:nth-child(n+2){
            margin-top: 10px;
          }
        }
        .uk-h5{
          color: #1D1E41;
          @extend .fz-16;
          font-family: $font-SVNGilroy-XBold;
          border-bottom: 1px solid #E6E8EC;
          padding-bottom: 10px;
        }
      }
      &__txtEmpty{
        text-align: center;
        color: #B1B5C3;
        @extend .fz-14;
        line-height: (22/14);
        font-family: $font-SVNGilroy-Medium;
      }
    }
    &__search{
      svg{
        &:hover{
          path{
            fill: #353945;
          }
        }
      }
    }
    &__bell{
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 18.0233C21 18.5113 20.6043 18.907 20.1163 18.907H3.88372C3.39565 18.907 3 18.5113 3 18.0233C3 17.5352 3.39566 17.1395 3.88372 17.1395H3.9V10.9809C3.9 6.57288 7.527 3 12 3C16.473 3 20.1 6.57288 20.1 10.9809V17.1395H20.1163C20.6043 17.1395 21 17.5352 21 18.0233ZM5.7 17.1395H18.3V10.9809C18.3 7.5494 15.4794 4.76744 12 4.76744C8.5206 4.76744 5.7 7.5494 5.7 10.9809V17.1395ZM9.97604 20.7558C9.73121 20.2608 10.1977 19.7907 10.75 19.7907H13.25C13.8023 19.7907 14.2688 20.2608 14.024 20.7558C13.9155 20.9751 13.7699 21.1773 13.591 21.3529C13.169 21.7672 12.5967 22 12 22C11.4033 22 10.831 21.7672 10.409 21.3529C10.2301 21.1773 10.0845 20.9751 9.97604 20.7558Z' fill='%23777E91'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      &:focus{
        outline: none;
      }
      &[aria-expanded="true"],
      &:hover{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 18.0233C21 18.5113 20.6043 18.907 20.1163 18.907H3.88372C3.39565 18.907 3 18.5113 3 18.0233C3 17.5352 3.39566 17.1395 3.88372 17.1395H3.9V10.9809C3.9 6.57288 7.527 3 12 3C16.473 3 20.1 6.57288 20.1 10.9809V17.1395H20.1163C20.6043 17.1395 21 17.5352 21 18.0233ZM5.7 17.1395H18.3V10.9809C18.3 7.5494 15.4794 4.76744 12 4.76744C8.5206 4.76744 5.7 7.5494 5.7 10.9809V17.1395ZM9.97604 20.7558C9.73121 20.2608 10.1977 19.7907 10.75 19.7907H13.25C13.8023 19.7907 14.2688 20.2608 14.024 20.7558C13.9155 20.9751 13.7699 21.1773 13.591 21.3529C13.169 21.7672 12.5967 22 12 22C11.4033 22 10.831 21.7672 10.409 21.3529C10.2301 21.1773 10.0845 20.9751 9.97604 20.7558Z' fill='%23353945'/%3E%3C/svg%3E%0A");
      }
      &:before{
        content: "";
        position: absolute;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid #ffffff;
        box-sizing: border-box;
      }
      &:not(.notify){
        &:before{
          width: 12px;
          height: 12px;
          background-color: #45B26B;
          top: -2px;
          right: -1px;
        }
      }
      &.notify{
        &:before{
          content: attr(data-count);
          color: #ffffff;
          width: 16px;
          height: 16px;
          background-color: #E73C3D;
          top: -4px;
          right: -3px;
          font-family: $font-SVNGilroy-Bold;
          @extend .fz-10;
        }
      }
      & + .uk-dropdown{
        min-width: 273px;
        background: #FFFFFF;
        box-shadow: 0 4px 30px rgba(27, 25, 86, 0.1);
        border-radius: 12px;
        padding: 0;
      }
    }
  }
  &__user{
    &__txt{
      color: #A7A5A5;
      line-height: (17/16);
      @extend .fz-16;
      font-family: $font-SVNGilroy-SemiBold;
      span{
        color: #141416;
      }
    }
  }
  &__listNotify{
    overflow: hidden;
    border-radius: 12px;
    background: #FFFFFF;
    >li{
      margin: 0 !important;
      >a{
        display: block;
        padding: 10px 15px;
      }
    }
    &__li{

    }
    &__link{
      &:hover{
        background-color: rgba(#5BCCF9,0.15);
      }
    }
    &__coverImg{
      background-color: #F4F5F6;
      .header__listNotify__link:hover &{
        background-color: #fff;
      }
    }
    &__txt{
      font-family: $font-SVNGilroy-Medium;
      color: #000;
      line-height: (22/14);
      @extend .fz-14;
      span{
        color: #3772FF;
        font-family: $font-SVNGilroy-SemiBold;
      }
    }
  }
}
.menumobile{
  //position: absolute;
  //left: 0;
  //right: 0;
  //top: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: auto;
  transition: all 0.3s;
  z-index: 10;
  &__uk-icon{
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    top: 4px;
    right: -5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='5 7 15 7 10 12'%3E%3C/polygon%3E%3C/svg%3E");
    .uk-open> &{
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='5 13 10 8 15 13'%3E%3C/polygon%3E%3C/svg%3E");
    }
  }
  &.animated{
    height: calc(100vh - 60px);
  }
  .uk-container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .uk-section-xsmall{
    //padding-top: 15px;
  }
  .uk-nav{
    >li{
      &.active,
      &.uk-active{
        >a{
          color: #9A0000;
        }
      }
      &.menu-home{
        >a{
          &:before{
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='18.65 11.35 10 2.71 1.35 11.35 0.65 10.65 10 1.29 19.35 10.65'%3E%3C/polygon%3E%3Cpolygon points='15 4 18 4 18 7 17 7 17 5 15 5'%3E%3C/polygon%3E%3Cpolygon points='3 11 4 11 4 18 7 18 7 12 12 12 12 18 16 18 16 11 17 11 17 19 11 19 11 13 8 13 8 19 3 19'%3E%3C/polygon%3E%3C/svg%3E");
            width: 20px;
            height: 20px;
            background-size: 100%;
            background-repeat: no-repeat;
            display: inline-block;
          }
        }
        &.active,
        &.uk-active{
          >a{
            &:before{
              background-image: url("data:image/svg+xml,%3Csvg width='20' fill='%239A0000' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='18.65 11.35 10 2.71 1.35 11.35 0.65 10.65 10 1.29 19.35 10.65'%3E%3C/polygon%3E%3Cpolygon points='15 4 18 4 18 7 17 7 17 5 15 5'%3E%3C/polygon%3E%3Cpolygon points='3 11 4 11 4 18 7 18 7 12 12 12 12 18 16 18 16 11 17 11 17 19 11 19 11 13 8 13 8 19 3 19'%3E%3C/polygon%3E%3C/svg%3E");
            }
          }
        }
      }
      >a{

      }
      &.uk-parent{
        position: relative;
        >a{
          &:after{
            display: none;
          }
        }
      }
    }
    li{
      a{
        font-family: $font-Roboto-Medium;
        letter-spacing: 0.07px;
        color: #333333 !important;
        @extend .fz-14;
      }
    }
  }
  &__copyright{
    border-top: 1px solid #E6E8EC;
    >*{
      color: #777E90;
      @extend .fz-14;
      font-family: $font-SVNGilroy-Medium;
    }
  }
}
#offcanvasmenu{
  &:before{
    @extend .uk-overlay-design;
  }
  .uk-offcanvas-bar{
    //background: rgba(#FFFFFF,0.9);
    //background: rebeccapurple !important;
    background: transparent;
    padding: 0;
  }
  .uk-offcanvas-close{
    position: absolute;
    color: #000;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.29289 9.29289C9.68342 8.90237 10.3166 8.90237 10.7071 9.29289L16 14.5858L21.2929 9.29289C21.6834 8.90237 22.3166 8.90237 22.7071 9.29289C23.0976 9.68342 23.0976 10.3166 22.7071 10.7071L17.4142 16L22.7071 21.2929C23.0976 21.6834 23.0976 22.3166 22.7071 22.7071C22.3166 23.0976 21.6834 23.0976 21.2929 22.7071L16 17.4142L10.7071 22.7071C10.3166 23.0976 9.68342 23.0976 9.29289 22.7071C8.90237 22.3166 8.90237 21.6834 9.29289 21.2929L14.5858 16L9.29289 10.7071C8.90237 10.3166 8.90237 9.68342 9.29289 9.29289Z' fill='%23141416'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    svg{
      opacity: 0;
    }
  }
}
.menumobile{
  background: rgba(#FFFFFF,0.9);
}