.lienhe{
  &__section{
    padding-bottom: 88px;
    @include media-breakpoint-up('m'){
      padding-bottom: 88px;
      padding-top: 32px;
    }
  }
  &__item{
    &:nth-child(n+2){
      margin-top: 30px;
      @include media-breakpoint-up('m'){
        margin-top: 88px;
      }
    }
    &__desc{
      color: #637381;
      line-height: (24/16);
      @extend .fz-16;
      font-family: $font-SVNGilroy-Medium;
      margin-bottom: 30px;
      @include media-breakpoint-up('m'){
        margin-bottom: 60px;
      }
    }
  }
  &__tab{
    justify-content: center;
    @include media-breakpoint-up('m'){
      justify-content: inherit;
    }
    &:before{
      display: none;
    }
    &__li{
      &:nth-child(n+2){
        .phongthuysim__section &{

          @include media-breakpoint-up('m'){
            margin-top: 10px;
          }
        }
      }
    }
    &__a{
      .phongthuysim__section &{
        color: #777E90;
        @extend .fz-16;
        @include media-breakpoint-up('m'){

        }
      }
      text-transform: inherit !important;
      color: #979797 !important;
      @extend .fz-14;
      font-family: $font-SVNGilroy-Medium;
      .uk-active> &{
        .phongthuysim__section &{
          @extend .fz-20;
        }
        color: #3772FF !important;
        font-family: $font-SVNGilroy-Bold;
        @include media-breakpoint-up('m'){
          border: none;

          padding-left: 30px;
          position: relative;
          &:before{
            content: "";
            position: absolute;
            left: 7px;
            top: 50%;
            transform: translateY(-50%);
            width: 15px;
            height: 1px;
            display: inline-block;
            background: #3772FF;
          }
        }
      }
    }
  }
  &__accordion{
    &__li{
      margin: 0 !important;
      border-bottom: 1px solid #E6E8EC;
      &:first-child{
        border-top: 1px solid #E6E8EC;
      }
      $x:20px;
      padding-top: #{$x};
      padding-bottom: #{$x};
      @include media-breakpoint-up('m'){
        $x:32px;
        padding-top: #{$x};
        padding-bottom: #{$x};
      }
    }
    &__title{
      color: #212B36;
      line-height: (24/18);
      @extend .fz-18;
      text-transform: inherit;
      font-family: $font-SVNGilroy-Bold;
      &:before{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.2071 9.79289C15.8166 9.40237 15.1834 9.40237 14.7929 9.79289L12 12.5858L9.20711 9.79289C8.81658 9.40237 8.18342 9.40237 7.79289 9.79289C7.40237 10.1834 7.40237 10.8166 7.79289 11.2071L11.2929 14.7071C11.6834 15.0976 12.3166 15.0976 12.7071 14.7071L16.2071 11.2071C16.5976 10.8166 16.5976 10.1834 16.2071 9.79289Z' fill='%23141416'/%3E%3C/svg%3E%0A");
        .uk-open &{
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.79289 14.2071C8.18342 14.5976 8.81658 14.5976 9.20711 14.2071L12 11.4142L14.7929 14.2071C15.1834 14.5976 15.8166 14.5976 16.2071 14.2071C16.5976 13.8166 16.5976 13.1834 16.2071 12.7929L12.7071 9.29289C12.3166 8.90237 11.6834 8.90237 11.2929 9.29289L7.79289 12.7929C7.40237 13.1834 7.40237 13.8166 7.79289 14.2071Z' fill='%231D1E41'/%3E%3C/svg%3E%0A");
        }
      }
    }
    &__content{
      color: #212B36;
      line-height: (24/16);
      @extend .fz-16;
      font-family: $font-SVNGilroy-Medium;
    }
  }
  &__about{
    >*{
      &:last-child{
        margin-bottom: 0;
      }
    }
    color: #212B36;
    margin-top: 20px;
    @include media-breakpoint-up('m'){
      position: absolute;
      top: 16px;
      left: 32px;
      width: 290px;
      color: #FFFFFF;
      margin-top: 0;
    }
    &__title{
      color: #212B36;
      line-height: (24/16);
      //@extend .fz-24;
      @include fluidx(24px,16px,font-size);
      font-family: $font-SVNGilroy-XBold;
      margin-bottom: 10px;
      @include media-breakpoint-up('m'){
        line-height: (60/24);
        margin-bottom: 7px;
        color: #FFFFFF;
      }
    }
    &__desc{
      line-height: (24/16);
      @extend .fz-16;
      margin: 0 !important;
    }
  }
}