.donhang_success{
  &__section{
    @include media-breakpoint-up('m'){
      padding-top: 39px;
      padding-bottom: 110px;
    }
    .profile__content__title{
      margin-bottom: 0 !important;
    }
  }
  &__box{
    max-width: 534px;
    width: 100%;
    text-align: center;
    &__mb1{
      margin-bottom: 27px;
      @include media-breakpoint-up('m'){
        margin-bottom: 27px;
      }
    }
    &__mb2{
      margin-bottom: 50px;
      @include media-breakpoint-up('m'){
        margin-bottom: 50px;
      }
    }
    &__desc{
      color: #808D98;
      line-height: (24/16);
      @extend .fz-16;
      font-family: $font-SVNGilroy-Medium;
      span{
        color: #141416;
      }
    }
  }
}