.home{
  &__section{
    //@include fluidx(32px,25px,padding-top);
    padding-top: 0;
    padding-bottom: 0;
  }
  &__searchmb{
    background-color: #fff;
    padding-bottom: 10px;
    margin-bottom: 0 !important;
    &.uk-sticky-fixed{
      box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    }
  }
  &__content{
    @include media-breakpoint-up('m'){
      border-top: 1px solid #E6E8EC;
      border-bottom: 1px solid #E6E8EC;
    }
    &__section{
      padding-top: 0;
      @include media-breakpoint-up('m'){
        padding-top: 25px;
      }
    }
    &__txtKetqua{
      color: #212B36;
      line-height: (24/18);
      @extend .fz-18;
      font-family: $font-SVNGilroy-Bold;
    }
    &__labelSort{
      color: #212B36;
      line-height: (24/16);
      font-family: $font-SVNGilroy-Medium;
      @extend .fz-16;
    }
    &__btnSort{
      text-transform: inherit;
      padding-left: 20px;
      border-radius: 8px;
      border: 1px solid #E6E8EC;
      @include media-breakpoint-up('m'){
        line-height: 44px;
      }
      position: relative;
      text-align: left;
      .boloc__offcanvas &{
        border: 1px solid #E6E8EC;
      }
      >*{
        &:first-child{
          color: #202020;
          line-height: (20/14);
          @extend .fz-14;
          font-family: $font-SVNGilroy-Bold;
          white-space: nowrap;
        }
      }
      .uk-icon{
        right: 5px;
        display: inline-block;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.2071 9.79289C15.8166 9.40237 15.1834 9.40237 14.7929 9.79289L12 12.5858L9.20711 9.79289C8.81658 9.40237 8.18342 9.40237 7.79289 9.79289C7.40237 10.1834 7.40237 10.8166 7.79289 11.2071L11.2929 14.7071C11.6834 15.0976 12.3166 15.0976 12.7071 14.7071L16.2071 11.2071C16.5976 10.8166 16.5976 10.1834 16.2071 9.79289Z' fill='%23141416'/%3E%3C/svg%3E%0A");
      }
    }
    &__mb24{
      margin-bottom: 24px;
    }
    &__mb23{
      margin-bottom: 23px;
    }
    &__mb77{
      margin-bottom: 30px;
      @include media-breakpoint-up('m'){
        margin-bottom: 77px;
      }
    }
    &__selectFillter{
      .uk-offcanvas-bar &{
        border: 2px solid #E6E8EC !important;
      }
      border: 2px solid #E6E8EC;
      box-sizing: border-box;
      border-radius: 8px;
      text-transform: inherit;
      position: relative;
      padding-left: 15px;
      line-height: 44px;
      span{
        color: #000000;
        line-height: (24/14);
        @extend .fz-14;
        font-family: $font-SVNGilroy-Medium;
      }
      .uk-close{
        right: 5px;
        display: inline-block;
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z' fill='%23A7A5A5'/%3E%3C/svg%3E%0A");
        &:hover{
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z' fill='%23141416'/%3E%3C/svg%3E%0A");
        }
      }
    }
    &__deleteFillter{
      .uk-offcanvas-bar &{
        color: #3772FF !important;
      }
      color: #3772FF;
      line-height: (24/14);
      @extend .fz-14;
      font-family: $font-SVNGilroy-Medium;
    }
    &__sanpham{
      &__mb{
        margin-bottom: 10px;
      }
      &__priceTxt{
        color: #212B36;
        line-height: (24/16);
        @extend .fz-16;
        font-family: $font-SVNGilroy-Medium;
      }
      &__info{
        position: relative;
        top: -9px;
        cursor: pointer;
        $x:15px;
        display: inline-block;
        width: #{$x};
        height: #{$x};
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.35711 4.00021C7.35711 4.19745 7.19721 4.35735 6.99997 4.35735C6.80272 4.35735 6.64282 4.19745 6.64282 4.00021C6.64282 3.80296 6.80272 3.64307 6.99997 3.64307C7.19721 3.64307 7.35711 3.80296 7.35711 4.00021Z' fill='%23777E90' stroke='%23777E90'/%3E%3Cpath d='M7 13C10.3137 13 13 10.3137 13 7C13 3.68629 10.3137 1 7 1C3.68629 1 1 3.68629 1 7C1 10.3137 3.68629 13 7 13Z' stroke='%23777E90' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 10.4286V7' stroke='%23777E90' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        &:hover{
          background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.35711 4.00021C7.35711 4.19745 7.19721 4.35735 6.99997 4.35735C6.80272 4.35735 6.64282 4.19745 6.64282 4.00021C6.64282 3.80296 6.80272 3.64307 6.99997 3.64307C7.19721 3.64307 7.35711 3.80296 7.35711 4.00021Z' fill='%23141416' stroke='%23141416'/%3E%3Cpath d='M7 13C10.3137 13 13 10.3137 13 7C13 3.68629 10.3137 1 7 1C3.68629 1 1 3.68629 1 7C1 10.3137 3.68629 13 7 13Z' stroke='%23141416' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 10.4286V7' stroke='%23141416' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
      }
      &__phoneNumber{
        display: inline-block;
        color: #141416;
        line-height: (20/25);
        @extend .fz-25;
        font-family: $font-SVNGilroy-Bold;
        span{
          color: #206AE6;
        }
      }
      &__grid{
        .uk-grid-margin{
          //margin-top: 29px !important;
          @include media-breakpoint-up('m'){
            margin-top: 24px !important;
          }
        }
      }
      &__link{
        &:nth-child(n+2){
          margin-left: 0px;
        }
        &--position{
          top: 10px;
          right: 10px;
        }
        display: inline-block;
        background: #F7F7F7;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        &--info{
          background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.35711 3.99972C7.35711 4.19697 7.19721 4.35686 6.99997 4.35686C6.80272 4.35686 6.64282 4.19697 6.64282 3.99972C6.64282 3.80248 6.80272 3.64258 6.99997 3.64258C7.19721 3.64258 7.35711 3.80248 7.35711 3.99972Z' fill='%23777E90' stroke='%23777E90'/%3E%3Cpath d='M7 13C10.3137 13 13 10.3137 13 7C13 3.68629 10.3137 1 7 1C3.68629 1 1 3.68629 1 7C1 10.3137 3.68629 13 7 13Z' stroke='%23777E90' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 10.4286V7' stroke='%23777E90' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          &:hover{
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.35711 3.99972C7.35711 4.19697 7.19721 4.35686 6.99997 4.35686C6.80272 4.35686 6.64282 4.19697 6.64282 3.99972C6.64282 3.80248 6.80272 3.64258 6.99997 3.64258C7.19721 3.64258 7.35711 3.80248 7.35711 3.99972Z' fill='%233772FF' stroke='%233772FF'/%3E%3Cpath d='M7 13C10.3137 13 13 10.3137 13 7C13 3.68629 10.3137 1 7 1C3.68629 1 1 3.68629 1 7C1 10.3137 3.68629 13 7 13Z' stroke='%233772FF' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 10.4286V7' stroke='%233772FF' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }
        }
        &--wishList{
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.43275 4.76066C8.19092 4.99274 7.80908 4.99274 7.56725 4.76066L7.1345 4.34538C6.62798 3.8593 5.94371 3.5625 5.1875 3.5625C3.6342 3.5625 2.375 4.8217 2.375 6.375C2.375 7.86414 3.18112 9.09378 4.34485 10.1041C5.50957 11.1153 6.90212 11.7859 7.73415 12.1282C7.90812 12.1997 8.09187 12.1997 8.26585 12.1282C9.09787 11.7859 10.4904 11.1153 11.6552 10.1041C12.8189 9.09378 13.625 7.86414 13.625 6.375C13.625 4.8217 12.3658 3.5625 10.8125 3.5625C10.0563 3.5625 9.37202 3.8593 8.8655 4.34538L8.43275 4.76066ZM8 3.44348C7.27007 2.743 6.27906 2.3125 5.1875 2.3125C2.94384 2.3125 1.125 4.13134 1.125 6.375C1.125 10.3552 5.48146 12.5531 7.25862 13.2842C7.73723 13.4811 8.26277 13.4811 8.74138 13.2842C10.5185 12.5531 14.875 10.3552 14.875 6.375C14.875 4.13134 13.0562 2.3125 10.8125 2.3125C9.72094 2.3125 8.72993 2.743 8 3.44348Z' fill='%23B1B5C3'/%3E%3Cpath d='M7.1345 4.34538L7.56725 4.76066C7.80908 4.99274 8.19092 4.99274 8.43275 4.76066L8.8655 4.34538C9.37202 3.8593 10.0563 3.5625 10.8125 3.5625C12.3658 3.5625 13.625 4.8217 13.625 6.375C13.625 7.86414 12.8189 9.09378 11.6552 10.1041C10.4904 11.1153 9.09787 11.7859 8.26585 12.1282C8.09187 12.1997 7.90812 12.1997 7.73415 12.1282C6.90212 11.7859 5.50957 11.1153 4.34485 10.1041C3.18112 9.09378 2.375 7.86414 2.375 6.375C2.375 4.8217 3.6342 3.5625 5.1875 3.5625C5.94371 3.5625 6.62798 3.8593 7.1345 4.34538Z' fill='%23B1B5C3'/%3E%3C/svg%3E%0A");
          &:hover{
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.43275 4.76066C8.19092 4.99274 7.80908 4.99274 7.56725 4.76066L7.1345 4.34538C6.62798 3.8593 5.94371 3.5625 5.1875 3.5625C3.6342 3.5625 2.375 4.8217 2.375 6.375C2.375 7.86414 3.18112 9.09378 4.34485 10.1041C5.50957 11.1153 6.90212 11.7859 7.73415 12.1282C7.90812 12.1997 8.09187 12.1997 8.26585 12.1282C9.09787 11.7859 10.4904 11.1153 11.6552 10.1041C12.8189 9.09378 13.625 7.86414 13.625 6.375C13.625 4.8217 12.3658 3.5625 10.8125 3.5625C10.0563 3.5625 9.37202 3.8593 8.8655 4.34538L8.43275 4.76066ZM8 3.44348C7.27007 2.743 6.27906 2.3125 5.1875 2.3125C2.94384 2.3125 1.125 4.13134 1.125 6.375C1.125 10.3552 5.48146 12.5531 7.25862 13.2842C7.73723 13.4811 8.26277 13.4811 8.74138 13.2842C10.5185 12.5531 14.875 10.3552 14.875 6.375C14.875 4.13134 13.0562 2.3125 10.8125 2.3125C9.72094 2.3125 8.72993 2.743 8 3.44348Z' fill='%23E73C3D'/%3E%3Cpath d='M7.1345 4.34538L7.56725 4.76066C7.80908 4.99274 8.19092 4.99274 8.43275 4.76066L8.8655 4.34538C9.37202 3.8593 10.0563 3.5625 10.8125 3.5625C12.3658 3.5625 13.625 4.8217 13.625 6.375C13.625 7.86414 12.8189 9.09378 11.6552 10.1041C10.4904 11.1153 9.09787 11.7859 8.26585 12.1282C8.09187 12.1997 7.90812 12.1997 7.73415 12.1282C6.90212 11.7859 5.50957 11.1153 4.34485 10.1041C3.18112 9.09378 2.375 7.86414 2.375 6.375C2.375 4.8217 3.6342 3.5625 5.1875 3.5625C5.94371 3.5625 6.62798 3.8593 7.1345 4.34538Z' fill='%23E73C3D'/%3E%3C/svg%3E%0A");
          }
        }
        &--addCart{
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6.09375C11 5.54147 10.5523 5.09375 10 5.09375C9.44773 5.09375 9.00001 5.54147 9.00001 6.09375V8.99998H6.09375C5.54147 8.99998 5.09375 9.4477 5.09375 9.99998C5.09375 10.5523 5.54147 11 6.09375 11H9.00001V13.9062C9.00001 14.4585 9.44773 14.9062 10 14.9062C10.5523 14.9062 11 14.4585 11 13.9062V11H13.9062C14.4585 11 14.9062 10.5523 14.9062 9.99998C14.9062 9.4477 14.4585 8.99998 13.9062 8.99998H11V6.09375Z' fill='%23B1B5C3'/%3E%3Cpath d='M9.00001 8.99998V9.49998C9.27615 9.49998 9.50001 9.27612 9.50001 8.99998H9.00001ZM9.00001 11H9.50001C9.50001 10.7238 9.27615 10.5 9.00001 10.5V11ZM11 11V10.5C10.7239 10.5 10.5 10.7238 10.5 11H11ZM11 8.99998H10.5C10.5 9.27612 10.7239 9.49998 11 9.49998V8.99998ZM10 5.59375C10.2762 5.59375 10.5 5.81761 10.5 6.09375H11.5C11.5 5.26532 10.8284 4.59375 10 4.59375V5.59375ZM9.50001 6.09375C9.50001 5.81761 9.72387 5.59375 10 5.59375V4.59375C9.17158 4.59375 8.50001 5.26532 8.50001 6.09375H9.50001ZM9.50001 8.99998V6.09375H8.50001V8.99998H9.50001ZM6.09375 9.49998H9.00001V8.49998H6.09375V9.49998ZM5.59375 9.99998C5.59375 9.72384 5.81761 9.49998 6.09375 9.49998V8.49998C5.26532 8.49998 4.59375 9.17155 4.59375 9.99998H5.59375ZM6.09375 10.5C5.81761 10.5 5.59375 10.2761 5.59375 9.99998H4.59375C4.59375 10.8284 5.26532 11.5 6.09375 11.5V10.5ZM9.00001 10.5H6.09375V11.5H9.00001V10.5ZM9.50001 13.9062V11H8.50001V13.9062H9.50001ZM10 14.4062C9.72387 14.4062 9.50001 14.1824 9.50001 13.9062H8.50001C8.50001 14.7347 9.17158 15.4062 10 15.4062V14.4062ZM10.5 13.9062C10.5 14.1824 10.2762 14.4062 10 14.4062V15.4062C10.8284 15.4062 11.5 14.7347 11.5 13.9062H10.5ZM10.5 11V13.9062H11.5V11H10.5ZM13.9062 10.5H11V11.5H13.9062V10.5ZM14.4062 9.99998C14.4062 10.2761 14.1824 10.5 13.9062 10.5V11.5C14.7347 11.5 15.4062 10.8284 15.4062 9.99998H14.4062ZM13.9062 9.49998C14.1824 9.49998 14.4062 9.72384 14.4062 9.99998H15.4062C15.4062 9.17155 14.7347 8.49998 13.9062 8.49998V9.49998ZM11 9.49998H13.9062V8.49998H11V9.49998ZM10.5 6.09375V8.99998H11.5V6.09375H10.5Z' fill='%23B1B5C3'/%3E%3C/svg%3E%0A");
          &:hover{
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6.09375C11 5.54147 10.5523 5.09375 10 5.09375C9.44773 5.09375 9.00001 5.54147 9.00001 6.09375V8.99998H6.09375C5.54147 8.99998 5.09375 9.4477 5.09375 9.99998C5.09375 10.5523 5.54147 11 6.09375 11H9.00001V13.9062C9.00001 14.4585 9.44773 14.9062 10 14.9062C10.5523 14.9062 11 14.4585 11 13.9062V11H13.9062C14.4585 11 14.9062 10.5523 14.9062 9.99998C14.9062 9.4477 14.4585 8.99998 13.9062 8.99998H11V6.09375Z' fill='%233772FF'/%3E%3Cpath d='M9.00001 8.99998V9.49998C9.27615 9.49998 9.50001 9.27612 9.50001 8.99998H9.00001ZM9.00001 11H9.50001C9.50001 10.7238 9.27615 10.5 9.00001 10.5V11ZM11 11V10.5C10.7239 10.5 10.5 10.7238 10.5 11H11ZM11 8.99998H10.5C10.5 9.27612 10.7239 9.49998 11 9.49998V8.99998ZM10 5.59375C10.2762 5.59375 10.5 5.81761 10.5 6.09375H11.5C11.5 5.26532 10.8284 4.59375 10 4.59375V5.59375ZM9.50001 6.09375C9.50001 5.81761 9.72387 5.59375 10 5.59375V4.59375C9.17158 4.59375 8.50001 5.26532 8.50001 6.09375H9.50001ZM9.50001 8.99998V6.09375H8.50001V8.99998H9.50001ZM6.09375 9.49998H9.00001V8.49998H6.09375V9.49998ZM5.59375 9.99998C5.59375 9.72384 5.81761 9.49998 6.09375 9.49998V8.49998C5.26532 8.49998 4.59375 9.17155 4.59375 9.99998H5.59375ZM6.09375 10.5C5.81761 10.5 5.59375 10.2761 5.59375 9.99998H4.59375C4.59375 10.8284 5.26532 11.5 6.09375 11.5V10.5ZM9.00001 10.5H6.09375V11.5H9.00001V10.5ZM9.50001 13.9062V11H8.50001V13.9062H9.50001ZM10 14.4062C9.72387 14.4062 9.50001 14.1824 9.50001 13.9062H8.50001C8.50001 14.7347 9.17158 15.4062 10 15.4062V14.4062ZM10.5 13.9062C10.5 14.1824 10.2762 14.4062 10 14.4062V15.4062C10.8284 15.4062 11.5 14.7347 11.5 13.9062H10.5ZM10.5 11V13.9062H11.5V11H10.5ZM13.9062 10.5H11V11.5H13.9062V10.5ZM14.4062 9.99998C14.4062 10.2761 14.1824 10.5 13.9062 10.5V11.5C14.7347 11.5 15.4062 10.8284 15.4062 9.99998H14.4062ZM13.9062 9.49998C14.1824 9.49998 14.4062 9.72384 14.4062 9.99998H15.4062C15.4062 9.17155 14.7347 8.49998 13.9062 8.49998V9.49998ZM11 9.49998H13.9062V8.49998H11V9.49998ZM10.5 6.09375V8.99998H11.5V6.09375H10.5Z' fill='%233772FF'/%3E%3C/svg%3E%0A");
          }
        }
      }
      &__imgTag{
        top: -9px;
        left: 5px;
      }
      &__card{
        &__logo{
          filter: grayscale(100%);
          .home__donhang__card:hover &,
          .home__content__sanpham__card:hover &{
            filter: grayscale(0%);
          }
        }
        border-radius: 8px;
        position: relative;
        padding: 15px 15px;
        padding-top: 30px;
        padding-bottom: 10px;
        box-shadow: 0px 4px 30px rgba(27, 25, 86, 0.1);
      }
    }
  }
  &__search{
    &__mobile{
      .uk-icon{
        svg{
          display: none;
        }
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.9056 16.3199C13.551 17.3729 11.8487 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 11.8487 17.3729 13.551 16.3199 14.9056L21.7071 20.2929C22.0976 20.6834 22.0976 21.3166 21.7071 21.7071C21.3166 22.0976 20.6834 22.0976 20.2929 21.7071L14.9056 16.3199ZM16 10C16 13.3137 13.3137 16 10 16C6.68629 16 4 13.3137 4 10C4 6.68629 6.68629 4 10 4C13.3137 4 16 6.68629 16 10Z' fill='%23777E91'%3E%3C/path%3E%3C/svg%3E");
      }
      .uk-input{
        border: 2px solid #E6E8EC;
        box-sizing: border-box;
        border-radius: 8px;
        color: #777E90;
        @extend .fz-14;
        font-family: $font-SVNGilroy-Medium;
        height: 48px;
      }
    }
    &__tagGrid{
      margin-top: 12px !important;
      @include media-breakpoint-up('m'){
        margin-left: 155px;
        .uk-sticky-fixed &{
          margin-left: 182px;
          margin-top: 8px !important;
        }
      }
      .uk-sticky-fixed &{
        //display: none !important;
      }
      .uk-grid{
        $x:23px;
        .uk-sticky-fixed &{
          margin-left: -#{$x};
        }
        >div{
          .uk-sticky-fixed &{
            padding-left: #{$x};
          }
        }
      }
    }
    &__tag{
      text-transform: inherit;
      padding: 0 12px;
      line-height: 44px;
      border: 2px solid #E6E8EC;
      box-sizing: border-box;
      border-radius: 8px;
      .uk-sticky-fixed &{
        padding: 0;
        line-height: inherit;
        border: none;
        color: #206AE6;
      }
      >*{
        .uk-sticky-fixed &{
          color: #3772FF;
        }
        color: #000000;
        @extend .fz-14;
        line-height: (24/14);
        font-family: $font-SVNGilroy-Medium;
      }
    }
    &__box{
      .uk-sticky-fixed> &{
        display: none;
      }
      .uk-sticky-fixed &{
        display: none;
      }
    }
    &__card{
      background-color: #fff;
      z-index: 981;
      box-shadow: 0px 4px 60px rgba(27, 25, 86, 0.1);
      border-radius: 16px;
      padding: 15px;
      margin-bottom: 25px;
      @include media-breakpoint-up('m'){
        padding: 20px 32px;
      }
      .uk-sticky-fixed &{
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 12px;
      }
    }
    &__title{
      margin: 0;
      color: #1D1E41;
      @extend .fz-32;
      font-family: $font-SVNGilroy-XBold;
    }
    &__link{
      text-decoration-line: underline;
      @extend .fz-14;
      color: #000000;
    }
    &__micro{
      width: 50px;
      height: 50px;
      background: #3772FF;
      border: 2px solid #E6E8EC;
      box-sizing: border-box;
      border-radius: 50%;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='36' height='34' viewBox='0 0 36 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.0002 19.5774C20.4902 19.5774 22.4852 17.7035 22.4852 15.3822L22.5002 6.992C22.5002 4.6707 20.4902 2.79688 18.0002 2.79688C15.5102 2.79688 13.5002 4.6707 13.5002 6.992V15.3822C13.5002 17.7035 15.5102 19.5774 18.0002 19.5774ZM27.1202 15.3822C26.4902 15.3822 25.9652 15.8017 25.8752 16.3751C25.3202 20.0248 21.7952 22.5139 18.0002 22.5139C14.2052 22.5139 10.6802 20.0388 10.1252 16.3751C10.0352 15.8017 9.49522 15.3822 8.88022 15.3822C8.10022 15.3822 7.50022 16.0255 7.60522 16.7387C8.29522 20.8918 12.0452 24.15 16.5002 24.7793V27.9676C16.5002 28.7367 17.1752 29.366 18.0002 29.366C18.8252 29.366 19.5002 28.7367 19.5002 27.9676V24.7793C23.9402 24.178 27.7052 20.8918 28.3952 16.7387C28.5002 16.0255 27.9002 15.3822 27.1202 15.3822Z' fill='%23F4F5F6'/%3E%3C/svg%3E%0A");
    }
    &__margin25{
      margin-bottom: 25px;
    }
    &__form{
      &__drop{
        padding: 24px;
        min-width: 230px;
        box-shadow: 0px 4px 30px rgba(27, 25, 86, 0.1);
        border-radius: 12px;
      }
      &__list{
        &__checkbox{

        }
        &__label{
          color: #141416;
          @extend .fz-16;
          line-height: (20/16);
          font-family: $font-SVNGilroy-SemiBold;
          padding-left: 34px;
          position: relative;
          &:before{
            content: "";
            width: 24px;
            height: 24px;
            border-radius: 4px;
            display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4C0 1.79086 1.79086 0 4 0H20C22.2091 0 24 1.79086 24 4V20C24 22.2091 22.2091 24 20 24H4C1.79086 24 0 22.2091 0 20V4Z' fill='%23FCFCFD'/%3E%3Cpath d='M4 2H20V-2H4V2ZM22 4V20H26V4H22ZM20 22H4V26H20V22ZM2 20V4H-2V20H2ZM4 22C2.89543 22 2 21.1046 2 20H-2C-2 23.3137 0.686292 26 4 26V22ZM22 20C22 21.1046 21.1046 22 20 22V26C23.3137 26 26 23.3137 26 20H22ZM20 2C21.1046 2 22 2.89543 22 4H26C26 0.686291 23.3137 -2 20 -2V2ZM4 -2C0.686291 -2 -2 0.686292 -2 4H2C2 2.89543 2.89543 2 4 2V-2Z' fill='%23E6E8EC'/%3E%3C/svg%3E%0A");
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            .home__search__form__list__checkbox:checked ~ &{
              background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4C0 1.79086 1.79086 0 4 0H20C22.2091 0 24 1.79086 24 4V20C24 22.2091 22.2091 24 20 24H4C1.79086 24 0 22.2091 0 20V4Z' fill='%23FCFCFD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.7071 7.29289C19.0976 7.68342 19.0976 8.31658 18.7071 8.70711L10.7071 16.7071C10.3166 17.0976 9.68342 17.0976 9.29289 16.7071L5.29289 12.7071C4.90237 12.3166 4.90237 11.6834 5.29289 11.2929C5.68342 10.9024 6.31658 10.9024 6.70711 11.2929L10 14.5858L17.2929 7.29289C17.6834 6.90237 18.3166 6.90237 18.7071 7.29289Z' fill='%23777E91'/%3E%3Cpath d='M4 2H20V-2H4V2ZM22 4V20H26V4H22ZM20 22H4V26H20V22ZM2 20V4H-2V20H2ZM4 22C2.89543 22 2 21.1046 2 20H-2C-2 23.3137 0.686292 26 4 26V22ZM22 20C22 21.1046 21.1046 22 20 22V26C23.3137 26 26 23.3137 26 20H22ZM20 2C21.1046 2 22 2.89543 22 4H26C26 0.686291 23.3137 -2 20 -2V2ZM4 -2C0.686291 -2 -2 0.686292 -2 4H2C2 2.89543 2.89543 2 4 2V-2Z' fill='%23E6E8EC'/%3E%3C/svg%3E%0A");
            }
          }
        }
        margin: 0 !important;
        >li{
          margin: 0 !important;
          $x:16px;
          &:nth-child(n+2){
            padding-top: #{$x};
            margin-top: #{$x} !important;
            border-top: 1px solid #E6E8EC;
          }
        }
      }
      &__btn1{
        border-color: transparent !important;
        text-transform: inherit;
        color: #3772FF;
        @extend .fz-18;
        font-family: $font-SVNGilroy-Bold;
        min-width: 138px;
        text-align: left;
        padding-left: 15px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.2071 9.79289C15.8166 9.40237 15.1834 9.40237 14.7929 9.79289L12 12.5858L9.20711 9.79289C8.81658 9.40237 8.18342 9.40237 7.79289 9.79289C7.40237 10.1834 7.40237 10.8166 7.79289 11.2071L11.2929 14.7071C11.6834 15.0976 12.3166 15.0976 12.7071 14.7071L16.2071 11.2071C16.5976 10.8166 16.5976 10.1834 16.2071 9.79289Z' fill='%233772FF'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center right 0px;
        >*{
          @extend .fz-18;
          line-height: (24/18);
        }
      }
      border: 2px solid #E6E8EC;
      box-sizing: border-box;
      border-radius: 8px;
      //overflow: hidden;
      position: relative;
      .uk-grid-divider{
        >*{
          &:not(.uk-first-column){
            &:before{
              $x:10px;
              top: #{$x};
              bottom: #{$x};
            }
          }
        }
      }
      $x:50px;
      &__input{
        border-radius: 8px;
        height: #{$x};
        .uk-sticky-fixed &{
          $x:40px;
          height: #{$x};
        }
        border-color: transparent;
        &:focus{
          border-color: transparent;
        }
        color: #777E90;
        @extend .fz-18;
        letter-spacing: -0.01em;
      }
      &__btnSelect{
        .uk-sticky-fixed &{
          $x:40px;
          line-height: calc(#{$x} - 2px);
        }
        line-height: calc(#{$x} - 2px);
        border-color: transparent;
        text-transform: inherit;
        color: #3772FF;
        @extend .fz-18;
        font-family: $font-SVNGilroy-Bold;
      }
      &__option{
        text-decoration-line: underline;
        font-family: $font-SVNGilroy-Bold;
        line-height: (24/14);
        color: #3772FF;
        @extend .fz-14;
        bottom: inherit;
        top: calc(100% + 10px);
      }
      &__btnSubmit{
        height: 46px;
        width: 46px;
        border-color: transparent;
        padding: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.9056 16.3199C13.551 17.3729 11.8487 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 11.8487 17.3729 13.551 16.3199 14.9056L21.7071 20.2929C22.0976 20.6834 22.0976 21.3166 21.7071 21.7071C21.3166 22.0976 20.6834 22.0976 20.2929 21.7071L14.9056 16.3199ZM16 10C16 13.3137 13.3137 16 10 16C6.68629 16 4 13.3137 4 10C4 6.68629 6.68629 4 10 4C13.3137 4 16 6.68629 16 10Z' fill='%23777E91'%3E%3C/path%3E%3C/svg%3E");
        &:hover{
          border-color: transparent;
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.9056 16.3199C13.551 17.3729 11.8487 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 11.8487 17.3729 13.551 16.3199 14.9056L21.7071 20.2929C22.0976 20.6834 22.0976 21.3166 21.7071 21.7071C21.3166 22.0976 20.6834 22.0976 20.2929 21.7071L14.9056 16.3199ZM16 10C16 13.3137 13.3137 16 10 16C6.68629 16 4 13.3137 4 10C4 6.68629 6.68629 4 10 4C13.3137 4 16 6.68629 16 10Z' fill='%23353945'%3E%3C/path%3E%3C/svg%3E");
        }
      }
    }
  }
  &__tooltip{
    $x:20px;
    &__box{
      >*{
        &:nth-child(n+2){
          margin-top: 10px;
        }
      }
    }
    &__card{
      width: 357px;
      background: #FCFCFD;
      box-shadow: 0px 8px 64px rgba(31, 47, 70, 0.1);
      border-radius: 8px;
      padding: 30px;
      >*{
        &:nth-child(n+2){
          margin-top: #{$x} !important;
        }
      }
      .uk-accordion-content,
      .uk-accordion-title{
        color: #141416;
        line-height: (16/14);
        @extend .fz-14;
        font-family: $font-SVNGilroy-Medium;
      }
      .uk-accordion{
        border-top: 1px solid #E6E8EC;
        border-bottom: 1px solid #E6E8EC;
        padding: #{$x} 0;
      }
      .uk-accordion-title{
        &:before{
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.79289 7.79289C9.40237 8.18342 9.40237 8.81658 9.79289 9.20711L12.5858 12L9.79289 14.7929C9.40237 15.1834 9.40237 15.8166 9.79289 16.2071C10.1834 16.5976 10.8166 16.5976 11.2071 16.2071L14.7071 12.7071C15.0976 12.3166 15.0976 11.6834 14.7071 11.2929L11.2071 7.79289C10.8166 7.40237 10.1834 7.40237 9.79289 7.79289Z' fill='%23141416'/%3E%3C/svg%3E%0A");
        }
      }
      .uk-open{
        .uk-accordion-title{
          &:before{
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.2071 9.79289C15.8166 9.40237 15.1834 9.40237 14.7929 9.79289L12 12.5858L9.20711 9.79289C8.81658 9.40237 8.18342 9.40237 7.79289 9.79289C7.40237 10.1834 7.40237 10.8166 7.79289 11.2071L11.2929 14.7071C11.6834 15.0976 12.3166 15.0976 12.7071 14.7071L16.2071 11.2071C16.5976 10.8166 16.5976 10.1834 16.2071 9.79289Z' fill='%23141416'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
    &__labelPrice{
      color: #777E90;
      line-height: (16/14);
      @extend .fz-14;
      font-family: $font-SVNGilroy-Medium;
      span{
        color: #64B73B;
      }
      &--sosim{
        color: #01221D;
      }
    }
    &__txtPrice{
      color: #212B36;
      line-height: (24/18);
      font-family: $font-SVNGilroy-SemiBold;
      @extend .fz-18;
    }
  }
  &__sanpham{
    &__margin{
      //margin-bottom: 15px;
      //@include media-breakpoint-up('m'){
      //  margin-bottom: 25px;
      //}
    }
    &__card{
      text-align: center;
      box-shadow: 0px 4px 30px rgba(27, 25, 86, 0.1);
      background-color: #fff;
      border-radius: 8px;
      overflow: hidden;
      @include media-breakpoint-down('s'){
        min-width: 240px;
        .uk-first-column> &{
          margin-left: 15px;
        }
        .home__sanpham__column:last-child &{
          margin-right: 15px;
        }
      }
    }
    &__overFlow{
      @include media-breakpoint-down('s'){
        overflow-x: auto;
      }
      padding-top: 25px;
      padding-bottom: 15px;
      @include media-breakpoint-up('m'){
        $x:32px;
        padding-top: #{$x};
        padding-bottom: calc(#{$x} - 7px);
      }
      &::-webkit-scrollbar{
        display: none;
      }
    }
    &__icon{
      width: 24px;
      height: 24px;
      color: rgba(#fff,0.7);
      background-repeat: no-repeat;
      background-position: center;
      &--next{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.79289 7.79289C9.40237 8.18342 9.40237 8.81658 9.79289 9.20711L12.5858 12L9.79289 14.7929C9.40237 15.1834 9.40237 15.8166 9.79289 16.2071C10.1834 16.5976 10.8166 16.5976 11.2071 16.2071L14.7071 12.7071C15.0976 12.3166 15.0976 11.6834 14.7071 11.2929L11.2071 7.79289C10.8166 7.40237 10.1834 7.40237 9.79289 7.79289Z' fill='rgba(255,255,255,0.7)'/%3E%3C/svg%3E%0A");
        &:hover{
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.79289 7.79289C9.40237 8.18342 9.40237 8.81658 9.79289 9.20711L12.5858 12L9.79289 14.7929C9.40237 15.1834 9.40237 15.8166 9.79289 16.2071C10.1834 16.5976 10.8166 16.5976 11.2071 16.2071L14.7071 12.7071C15.0976 12.3166 15.0976 11.6834 14.7071 11.2929L11.2071 7.79289C10.8166 7.40237 10.1834 7.40237 9.79289 7.79289Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }
      &--prev{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.2071 16.2071C14.5976 15.8166 14.5976 15.1834 14.2071 14.7929L11.4142 12L14.2071 9.20711C14.5976 8.81658 14.5976 8.18342 14.2071 7.79289C13.8166 7.40237 13.1834 7.40237 12.7929 7.79289L9.29289 11.2929C8.90237 11.6834 8.90237 12.3166 9.29289 12.7071L12.7929 16.2071C13.1834 16.5976 13.8166 16.5976 14.2071 16.2071Z' fill='rgba(255,255,255,0.7)'/%3E%3C/svg%3E%0A");
        &:hover{
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.2071 16.2071C14.5976 15.8166 14.5976 15.1834 14.2071 14.7929L11.4142 12L14.2071 9.20711C14.5976 8.81658 14.5976 8.18342 14.2071 7.79289C13.8166 7.40237 13.1834 7.40237 12.7929 7.79289L9.29289 11.2929C8.90237 11.6834 8.90237 12.3166 9.29289 12.7071L12.7929 16.2071C13.1834 16.5976 13.8166 16.5976 14.2071 16.2071Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }
    }
    &__column{

    }
    &__body{
      padding: 15px 15px;
    }
    &__footer{
      padding: 13px 0px;
      .cool &{
        background-color: #3772FF;
      }
      .biz &{
        background-color: #ed6642;
      }
      .vip &,
      .sang &{
        background-color: #fec70b;
      }
      .luck &,
      .may &{
        background-color: #e8392a;
      }
      .pal &{
        background-color: #5BCCF9;
      }
    }
    &__number{
      line-height: 1;
      @extend .fz-20;
      font-family: $font-SVNGilroy-Bold;
      color: #FFFFFF;
    }
    &__title{
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 4px;
      color: #000000;
      line-height: (20/24);
      @extend .fz-24;
      font-family: $font-SVNGilroy-Bold;
      span{
        .cool &{
          color: #3772FF;
        }
        .biz &{
          color: #ed6642;
        }
        .vip &,
        .sang &{
          color: #fec70b;
        }
        .luck &,
        .may &{
          color: #e8392a;
        }
        .pal &{
          color: #5BCCF9;
        }
      }
    }
    &__desc{
      margin: 0;
      line-height: (20/12);
      @extend .fz-12;
      color: #212B36;
      font-family: $font-SVNGilroy-SemiBold;
    }
  }
  &__donhang{
    &__box1{
      margin-bottom: 10px;
      &__txt{
        color: #828FA2;
        @extend .fz-16;
        line-height: (24/16);
        font-family: $font-SVNGilroy-Medium;
        span{
          @extend .fz-18;
          line-height: (24/18);
          font-family: $font-SVNGilroy-Bold;
          color: #3772FF;
        }
      }
    }
    &__card{
      background: #FFFFFF;
      $x:15px;
      padding: #{$x} #{$x};
      @include media-breakpoint-up('m'){
        $x:20px;
        padding: #{$x} #{$x};
      }
      box-shadow: 0px 4px 30px rgba(27, 25, 86, 0.1);
      border-radius: 8px;
    }
    &__so{
      color: #353945;
      @extend .fz-18;
      line-height: (20/18);
      font-family: $font-SVNGilroy-Medium;

      span{
        font-family: $font-SVNGilroy-Bold;
      }
    }
    &__name{
      color: #141416;
      @extend .fz-21;
      line-height: 1;
      font-family: $font-SVNGilroy-SemiBold;
    }
    &__sim{
      font-family: $font-SVNGilroy-Bold;
      @extend .fz-20;
      line-height: 1;
      color: #000;
    }
    &__txt{
      color: #777E90;
      @extend .fz-12;
      font-family: $font-SVNGilroy-Medium;
      padding-left: 25px;
      background-repeat: no-repeat;
      background-position: center left;
      &--date{
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-outside-1_896:124093' maskUnits='userSpaceOnUse' x='-0.441406' y='-0.306641' width='21' height='20' fill='black'%3E%3Crect fill='white' x='-0.441406' y='-0.306641' width='21' height='20'/%3E%3Cpath d='M11.2079 1.30251C11.2079 0.967928 11.5438 0.693359 11.9636 0.693359C12.3834 0.693359 12.7192 0.964927 12.7192 1.30251V3.96418C12.7192 4.29876 12.3834 4.57333 11.9636 4.57333C11.5438 4.57333 11.2079 4.30176 11.2079 3.96418V1.30251ZM2.75227 12.4038H4.4834C4.59331 12.4038 4.68338 12.4923 4.68338 12.6003V13.8577C4.68338 13.9657 4.59331 14.0542 4.4834 14.0542H2.75227C2.64236 14.0542 2.55229 13.9657 2.55229 13.8577V12.6003C2.55229 12.4908 2.64236 12.4038 2.75227 12.4038ZM9.38062 8.82089H11.1117C11.1652 8.82089 11.2125 8.8419 11.2491 8.8749C10.5698 9.29201 9.98056 9.83514 9.51343 10.4728H9.38062C9.27071 10.4728 9.18064 10.3843 9.18064 10.2763V9.01894C9.18064 8.90941 9.27071 8.82089 9.38062 8.82089ZM6.06645 8.82089H7.79757C7.90748 8.82089 7.99755 8.90941 7.99755 9.01744V10.2748C7.99755 10.3828 7.90748 10.4713 7.79757 10.4713H6.06645C5.95653 10.4713 5.86646 10.3828 5.86646 10.2748V9.01744C5.86646 8.90941 5.95653 8.82089 6.06645 8.82089ZM2.75227 8.82089H4.4834C4.59331 8.82089 4.68338 8.90941 4.68338 9.01744V10.2748C4.68338 10.3828 4.59331 10.4713 4.4834 10.4713H2.75227C2.64236 10.4713 2.55229 10.3828 2.55229 10.2748V9.01744C2.55229 8.90941 2.64236 8.82089 2.75227 8.82089ZM6.06645 12.4038H7.79757C7.90748 12.4038 7.99755 12.4923 7.99755 12.6003V13.8577C7.99755 13.9657 7.90748 14.0542 7.79757 14.0542H6.06645C5.95653 14.0542 5.86646 13.9657 5.86646 13.8577V12.6003C5.86646 12.4908 5.95653 12.4038 6.06645 12.4038ZM16.357 9.62659C18.1446 10.3543 19.317 12.0692 19.317 13.9807C19.317 15.2815 18.7797 16.4608 17.9126 17.313C17.0455 18.1652 15.8472 18.6934 14.5221 18.6934C13.1986 18.6934 12.0002 18.1652 11.1316 17.313C10.2645 16.4593 9.72715 15.2815 9.72715 13.9807C9.72715 12.0842 10.927 10.3153 12.7116 9.59509C13.8183 9.15097 15.2579 9.17798 16.357 9.62659ZM13.7848 13.8547C13.8443 13.7901 13.9176 13.7346 13.997 13.6926V11.6431C13.997 11.4345 14.1695 11.265 14.3817 11.265C14.5938 11.265 14.7679 11.4345 14.7679 11.6431V13.6926C14.9083 13.7676 15.0243 13.8802 15.0991 14.0182H16.5891C16.8028 14.0182 16.9738 14.1877 16.9738 14.3963C16.9738 14.6048 16.8013 14.7744 16.5891 14.7744H15.0991C14.9617 15.0264 14.6931 15.1975 14.3817 15.1975C14.1374 15.1975 13.9191 15.091 13.7695 14.9244C13.4932 14.6138 13.5069 14.1502 13.7848 13.8547ZM17.3691 11.2575C15.3831 9.30551 12.0338 9.85765 10.8721 12.3153C10.6339 12.8209 10.4996 13.385 10.4996 13.9792C10.4996 15.0715 10.9499 16.0602 11.6781 16.7759C12.4063 17.4916 13.4123 17.9342 14.5236 17.9342C15.635 17.9342 16.641 17.4901 17.3691 16.7759C18.0973 16.0602 18.5477 15.0715 18.5477 13.9792C18.5477 13.3595 18.4026 12.7729 18.1446 12.2507C17.9477 11.8561 17.6851 11.5681 17.3691 11.2575ZM4.42539 1.30251C4.42539 0.967928 4.76123 0.693359 5.18104 0.693359C5.59932 0.693359 5.93669 0.964927 5.93669 1.30251V3.96418C5.93669 4.29876 5.59932 4.57333 5.18104 4.57333C4.76276 4.57333 4.42539 4.30176 4.42539 3.96418V1.30251ZM1.39057 6.51331H15.7724V3.44955C15.7724 3.34452 15.7296 3.253 15.6609 3.18548C15.5922 3.11797 15.4945 3.07596 15.3922 3.07596H14.0137C13.7832 3.07596 13.5955 2.89141 13.5955 2.66485C13.5955 2.4383 13.7832 2.25375 14.0137 2.25375H15.3922C15.7296 2.25375 16.0334 2.38728 16.2547 2.60484C16.4761 2.82239 16.612 3.12097 16.612 3.45255V8.31827C16.3372 8.22524 16.0548 8.15022 15.7632 8.09471V7.33402H15.7724H1.39057V15.2725C1.39057 15.3775 1.43332 15.4691 1.50201 15.5366C1.57071 15.6041 1.66841 15.6461 1.77069 15.6461H8.60512C8.68298 15.9312 8.78068 16.2102 8.89823 16.4773H1.77832C1.44248 16.4773 1.13716 16.3438 0.91581 16.1262C0.694458 15.9072 0.558594 15.6101 0.558594 15.2785V3.45255C0.558594 3.12247 0.694458 2.82389 0.91581 2.60484C1.13716 2.38728 1.44095 2.25375 1.77832 2.25375H3.24993C3.48044 2.25375 3.66821 2.4383 3.66821 2.66485C3.66821 2.89141 3.48044 3.07596 3.24993 3.07596H1.77832C1.67146 3.07596 1.57834 3.11797 1.50964 3.18548C1.44095 3.253 1.39821 3.34902 1.39821 3.44955V6.51481H1.39057V6.51331ZM7.14267 3.07445C6.91216 3.07445 6.72439 2.88991 6.72439 2.66335C6.72439 2.4368 6.91216 2.25225 7.14267 2.25225H9.95003C10.1805 2.25225 10.3683 2.4368 10.3683 2.66335C10.3683 2.88991 10.1805 3.07445 9.95003 3.07445H7.14267Z'/%3E%3C/mask%3E%3Cpath d='M11.2079 1.30251C11.2079 0.967928 11.5438 0.693359 11.9636 0.693359C12.3834 0.693359 12.7192 0.964927 12.7192 1.30251V3.96418C12.7192 4.29876 12.3834 4.57333 11.9636 4.57333C11.5438 4.57333 11.2079 4.30176 11.2079 3.96418V1.30251ZM2.75227 12.4038H4.4834C4.59331 12.4038 4.68338 12.4923 4.68338 12.6003V13.8577C4.68338 13.9657 4.59331 14.0542 4.4834 14.0542H2.75227C2.64236 14.0542 2.55229 13.9657 2.55229 13.8577V12.6003C2.55229 12.4908 2.64236 12.4038 2.75227 12.4038ZM9.38062 8.82089H11.1117C11.1652 8.82089 11.2125 8.8419 11.2491 8.8749C10.5698 9.29201 9.98056 9.83514 9.51343 10.4728H9.38062C9.27071 10.4728 9.18064 10.3843 9.18064 10.2763V9.01894C9.18064 8.90941 9.27071 8.82089 9.38062 8.82089ZM6.06645 8.82089H7.79757C7.90748 8.82089 7.99755 8.90941 7.99755 9.01744V10.2748C7.99755 10.3828 7.90748 10.4713 7.79757 10.4713H6.06645C5.95653 10.4713 5.86646 10.3828 5.86646 10.2748V9.01744C5.86646 8.90941 5.95653 8.82089 6.06645 8.82089ZM2.75227 8.82089H4.4834C4.59331 8.82089 4.68338 8.90941 4.68338 9.01744V10.2748C4.68338 10.3828 4.59331 10.4713 4.4834 10.4713H2.75227C2.64236 10.4713 2.55229 10.3828 2.55229 10.2748V9.01744C2.55229 8.90941 2.64236 8.82089 2.75227 8.82089ZM6.06645 12.4038H7.79757C7.90748 12.4038 7.99755 12.4923 7.99755 12.6003V13.8577C7.99755 13.9657 7.90748 14.0542 7.79757 14.0542H6.06645C5.95653 14.0542 5.86646 13.9657 5.86646 13.8577V12.6003C5.86646 12.4908 5.95653 12.4038 6.06645 12.4038ZM16.357 9.62659C18.1446 10.3543 19.317 12.0692 19.317 13.9807C19.317 15.2815 18.7797 16.4608 17.9126 17.313C17.0455 18.1652 15.8472 18.6934 14.5221 18.6934C13.1986 18.6934 12.0002 18.1652 11.1316 17.313C10.2645 16.4593 9.72715 15.2815 9.72715 13.9807C9.72715 12.0842 10.927 10.3153 12.7116 9.59509C13.8183 9.15097 15.2579 9.17798 16.357 9.62659ZM13.7848 13.8547C13.8443 13.7901 13.9176 13.7346 13.997 13.6926V11.6431C13.997 11.4345 14.1695 11.265 14.3817 11.265C14.5938 11.265 14.7679 11.4345 14.7679 11.6431V13.6926C14.9083 13.7676 15.0243 13.8802 15.0991 14.0182H16.5891C16.8028 14.0182 16.9738 14.1877 16.9738 14.3963C16.9738 14.6048 16.8013 14.7744 16.5891 14.7744H15.0991C14.9617 15.0264 14.6931 15.1975 14.3817 15.1975C14.1374 15.1975 13.9191 15.091 13.7695 14.9244C13.4932 14.6138 13.5069 14.1502 13.7848 13.8547ZM17.3691 11.2575C15.3831 9.30551 12.0338 9.85765 10.8721 12.3153C10.6339 12.8209 10.4996 13.385 10.4996 13.9792C10.4996 15.0715 10.9499 16.0602 11.6781 16.7759C12.4063 17.4916 13.4123 17.9342 14.5236 17.9342C15.635 17.9342 16.641 17.4901 17.3691 16.7759C18.0973 16.0602 18.5477 15.0715 18.5477 13.9792C18.5477 13.3595 18.4026 12.7729 18.1446 12.2507C17.9477 11.8561 17.6851 11.5681 17.3691 11.2575ZM4.42539 1.30251C4.42539 0.967928 4.76123 0.693359 5.18104 0.693359C5.59932 0.693359 5.93669 0.964927 5.93669 1.30251V3.96418C5.93669 4.29876 5.59932 4.57333 5.18104 4.57333C4.76276 4.57333 4.42539 4.30176 4.42539 3.96418V1.30251ZM1.39057 6.51331H15.7724V3.44955C15.7724 3.34452 15.7296 3.253 15.6609 3.18548C15.5922 3.11797 15.4945 3.07596 15.3922 3.07596H14.0137C13.7832 3.07596 13.5955 2.89141 13.5955 2.66485C13.5955 2.4383 13.7832 2.25375 14.0137 2.25375H15.3922C15.7296 2.25375 16.0334 2.38728 16.2547 2.60484C16.4761 2.82239 16.612 3.12097 16.612 3.45255V8.31827C16.3372 8.22524 16.0548 8.15022 15.7632 8.09471V7.33402H15.7724H1.39057V15.2725C1.39057 15.3775 1.43332 15.4691 1.50201 15.5366C1.57071 15.6041 1.66841 15.6461 1.77069 15.6461H8.60512C8.68298 15.9312 8.78068 16.2102 8.89823 16.4773H1.77832C1.44248 16.4773 1.13716 16.3438 0.91581 16.1262C0.694458 15.9072 0.558594 15.6101 0.558594 15.2785V3.45255C0.558594 3.12247 0.694458 2.82389 0.91581 2.60484C1.13716 2.38728 1.44095 2.25375 1.77832 2.25375H3.24993C3.48044 2.25375 3.66821 2.4383 3.66821 2.66485C3.66821 2.89141 3.48044 3.07596 3.24993 3.07596H1.77832C1.67146 3.07596 1.57834 3.11797 1.50964 3.18548C1.44095 3.253 1.39821 3.34902 1.39821 3.44955V6.51481H1.39057V6.51331ZM7.14267 3.07445C6.91216 3.07445 6.72439 2.88991 6.72439 2.66335C6.72439 2.4368 6.91216 2.25225 7.14267 2.25225H9.95003C10.1805 2.25225 10.3683 2.4368 10.3683 2.66335C10.3683 2.88991 10.1805 3.07445 9.95003 3.07445H7.14267Z' fill='%23777E90'/%3E%3Cpath d='M11.2079 1.30251C11.2079 0.967928 11.5438 0.693359 11.9636 0.693359C12.3834 0.693359 12.7192 0.964927 12.7192 1.30251V3.96418C12.7192 4.29876 12.3834 4.57333 11.9636 4.57333C11.5438 4.57333 11.2079 4.30176 11.2079 3.96418V1.30251ZM2.75227 12.4038H4.4834C4.59331 12.4038 4.68338 12.4923 4.68338 12.6003V13.8577C4.68338 13.9657 4.59331 14.0542 4.4834 14.0542H2.75227C2.64236 14.0542 2.55229 13.9657 2.55229 13.8577V12.6003C2.55229 12.4908 2.64236 12.4038 2.75227 12.4038ZM9.38062 8.82089H11.1117C11.1652 8.82089 11.2125 8.8419 11.2491 8.8749C10.5698 9.29201 9.98056 9.83514 9.51343 10.4728H9.38062C9.27071 10.4728 9.18064 10.3843 9.18064 10.2763V9.01894C9.18064 8.90941 9.27071 8.82089 9.38062 8.82089ZM6.06645 8.82089H7.79757C7.90748 8.82089 7.99755 8.90941 7.99755 9.01744V10.2748C7.99755 10.3828 7.90748 10.4713 7.79757 10.4713H6.06645C5.95653 10.4713 5.86646 10.3828 5.86646 10.2748V9.01744C5.86646 8.90941 5.95653 8.82089 6.06645 8.82089ZM2.75227 8.82089H4.4834C4.59331 8.82089 4.68338 8.90941 4.68338 9.01744V10.2748C4.68338 10.3828 4.59331 10.4713 4.4834 10.4713H2.75227C2.64236 10.4713 2.55229 10.3828 2.55229 10.2748V9.01744C2.55229 8.90941 2.64236 8.82089 2.75227 8.82089ZM6.06645 12.4038H7.79757C7.90748 12.4038 7.99755 12.4923 7.99755 12.6003V13.8577C7.99755 13.9657 7.90748 14.0542 7.79757 14.0542H6.06645C5.95653 14.0542 5.86646 13.9657 5.86646 13.8577V12.6003C5.86646 12.4908 5.95653 12.4038 6.06645 12.4038ZM16.357 9.62659C18.1446 10.3543 19.317 12.0692 19.317 13.9807C19.317 15.2815 18.7797 16.4608 17.9126 17.313C17.0455 18.1652 15.8472 18.6934 14.5221 18.6934C13.1986 18.6934 12.0002 18.1652 11.1316 17.313C10.2645 16.4593 9.72715 15.2815 9.72715 13.9807C9.72715 12.0842 10.927 10.3153 12.7116 9.59509C13.8183 9.15097 15.2579 9.17798 16.357 9.62659ZM13.7848 13.8547C13.8443 13.7901 13.9176 13.7346 13.997 13.6926V11.6431C13.997 11.4345 14.1695 11.265 14.3817 11.265C14.5938 11.265 14.7679 11.4345 14.7679 11.6431V13.6926C14.9083 13.7676 15.0243 13.8802 15.0991 14.0182H16.5891C16.8028 14.0182 16.9738 14.1877 16.9738 14.3963C16.9738 14.6048 16.8013 14.7744 16.5891 14.7744H15.0991C14.9617 15.0264 14.6931 15.1975 14.3817 15.1975C14.1374 15.1975 13.9191 15.091 13.7695 14.9244C13.4932 14.6138 13.5069 14.1502 13.7848 13.8547ZM17.3691 11.2575C15.3831 9.30551 12.0338 9.85765 10.8721 12.3153C10.6339 12.8209 10.4996 13.385 10.4996 13.9792C10.4996 15.0715 10.9499 16.0602 11.6781 16.7759C12.4063 17.4916 13.4123 17.9342 14.5236 17.9342C15.635 17.9342 16.641 17.4901 17.3691 16.7759C18.0973 16.0602 18.5477 15.0715 18.5477 13.9792C18.5477 13.3595 18.4026 12.7729 18.1446 12.2507C17.9477 11.8561 17.6851 11.5681 17.3691 11.2575ZM4.42539 1.30251C4.42539 0.967928 4.76123 0.693359 5.18104 0.693359C5.59932 0.693359 5.93669 0.964927 5.93669 1.30251V3.96418C5.93669 4.29876 5.59932 4.57333 5.18104 4.57333C4.76276 4.57333 4.42539 4.30176 4.42539 3.96418V1.30251ZM1.39057 6.51331H15.7724V3.44955C15.7724 3.34452 15.7296 3.253 15.6609 3.18548C15.5922 3.11797 15.4945 3.07596 15.3922 3.07596H14.0137C13.7832 3.07596 13.5955 2.89141 13.5955 2.66485C13.5955 2.4383 13.7832 2.25375 14.0137 2.25375H15.3922C15.7296 2.25375 16.0334 2.38728 16.2547 2.60484C16.4761 2.82239 16.612 3.12097 16.612 3.45255V8.31827C16.3372 8.22524 16.0548 8.15022 15.7632 8.09471V7.33402H15.7724H1.39057V15.2725C1.39057 15.3775 1.43332 15.4691 1.50201 15.5366C1.57071 15.6041 1.66841 15.6461 1.77069 15.6461H8.60512C8.68298 15.9312 8.78068 16.2102 8.89823 16.4773H1.77832C1.44248 16.4773 1.13716 16.3438 0.91581 16.1262C0.694458 15.9072 0.558594 15.6101 0.558594 15.2785V3.45255C0.558594 3.12247 0.694458 2.82389 0.91581 2.60484C1.13716 2.38728 1.44095 2.25375 1.77832 2.25375H3.24993C3.48044 2.25375 3.66821 2.4383 3.66821 2.66485C3.66821 2.89141 3.48044 3.07596 3.24993 3.07596H1.77832C1.67146 3.07596 1.57834 3.11797 1.50964 3.18548C1.44095 3.253 1.39821 3.34902 1.39821 3.44955V6.51481H1.39057V6.51331ZM7.14267 3.07445C6.91216 3.07445 6.72439 2.88991 6.72439 2.66335C6.72439 2.4368 6.91216 2.25225 7.14267 2.25225H9.95003C10.1805 2.25225 10.3683 2.4368 10.3683 2.66335C10.3683 2.88991 10.1805 3.07445 9.95003 3.07445H7.14267Z' stroke='%23777E90' stroke-width='0.8' mask='url(%23path-1-outside-1_896:124093)'/%3E%3C/svg%3E%0A");
      }
      &--money{
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.8078 4.59407L17.8061 4.62588L17.8504 4.73187C17.8577 4.74939 17.8614 4.76783 17.8616 4.78627V17.875C17.8616 17.9565 17.8287 18.0365 17.7673 18.0969C17.7056 18.1575 17.6201 18.1931 17.5292 18.1931H0.880437C0.789501 18.1931 0.704 18.1575 0.642296 18.0969C0.580884 18.0365 0.547999 17.9565 0.547999 17.875V4.78449V4.75899L0.545405 4.73362C0.544969 4.72936 0.544969 4.72507 0.545405 4.72081L0.551849 4.65779L0.549743 4.64387L1.36501 1.43876L1.36501 1.43876L1.36539 1.43726C1.38265 1.36849 1.42382 1.30579 1.48416 1.26071C1.54467 1.21551 1.62034 1.19126 1.69856 1.1935L1.70572 1.19371H1.71287H15.8643V1.19374L15.8697 1.19368C15.9388 1.19293 16.0058 1.21283 16.0618 1.24973C16.1178 1.28657 16.1596 1.33824 16.1834 1.39689L16.1914 1.41675L16.2012 1.43586L17.8078 4.59407ZM2.36218 1.83002H1.97344L1.87761 2.20676L1.46139 3.84307L1.30285 4.46633H1.94596H16.1806H16.996L16.6263 3.73962L15.7938 2.1033L15.6548 1.83002H15.3482H2.36218ZM16.6968 17.5568H17.1968V17.0568V5.60264V5.10264H16.6968H1.71287H1.21287V5.60264V17.0568V17.5568H1.71287H16.6968Z' fill='%23777E90' stroke='%23777E90'/%3E%3Cpath d='M9.53207 15.7705C10.4561 15.7705 11.2121 15.5425 11.7881 15.0865C12.3641 14.6185 12.6521 13.9945 12.6521 13.1905C12.6521 12.5065 12.3761 11.9545 12.0761 11.6305C11.9321 11.4625 11.7161 11.3065 11.4281 11.1625C11.1521 11.0065 10.9121 10.8985 10.7321 10.8385L9.95207 10.5865C9.34007 10.4065 8.93207 10.2385 8.72807 10.0825C8.53607 9.92654 8.44007 9.74654 8.44007 9.54254C8.44007 9.19454 8.76407 8.90654 9.34007 8.90654C10.0721 8.90654 10.4921 9.24254 10.7921 9.87854L12.4121 8.93054C11.8001 7.69454 10.7201 7.03454 9.34007 7.03454C8.57207 7.03454 7.91207 7.26254 7.34807 7.73054C6.79607 8.19854 6.52007 8.81054 6.52007 9.59054C6.52007 10.3585 6.79607 10.9585 7.28807 11.3545C7.80407 11.7385 8.28407 11.9545 8.99207 12.1465C9.66407 12.3265 10.1201 12.4945 10.3601 12.6385C10.6121 12.7705 10.7321 12.9625 10.7321 13.2145C10.7321 13.6705 10.3481 13.8985 9.59207 13.8985C8.75207 13.8985 8.16407 13.5145 7.82807 12.7345L6.17207 13.6945C6.65207 14.9785 7.81607 15.7705 9.53207 15.7705Z' fill='%23777E90'/%3E%3C/svg%3E%0A");
      }
    }
    &__box{
      background: #F4F5F6;
      border-radius: 1px;
      padding: 7px;
      width: 100%;
    }
    &__price1{
      color: #3772FF;
      line-height: (20/14);
      @extend .fz-14;
      font-family: $font-SVNGilroy-Bold;
    }
    &__price{
      @extend .fz-14;
      font-family: $font-SVNGilroy-Bold;
      text-transform: inherit;
      padding: 0 10px;
      background: #3772FF;
    }
    &__item{
      $x:15px;
      &:nth-child(n+2){
        padding-top: #{$x};
        margin-top: #{$x};
        border-top: 1px solid #E6E8EC;
      }
      >*{
        &:nth-child(n+2){
          margin-top: 5px;
        }
      }
    }
  }
}