.lichsu{
  &__section{
    @include media-breakpoint-up('m'){
      padding-top: 32px;
      padding-bottom: 48px;
    }
  }
  &__table{
    border: 1px solid #E6E8EC;
    border-radius: 8px;
    tr{
      th{
        color: #1D1E41;
        text-transform: inherit;
        @extend .fz-16;
        font-family: $font-SVNGilroy-SemiBold;
      }
      border: none !important;
      @include media-breakpoint-up('m'){
        border-top: 1px solid #E6E8EC !important;
      }
      &:nth-child(n+2){
        border-top: 1px solid #E6E8EC !important;
      }
    }
    &__txt{
      color: #1D1E41;
      @extend .fz-16;
      line-height: (20/16);
    }
    &__status{
      &.uk-label-success{
        background: #64B73B;
      }
      border-radius: 8px;
      text-transform: inherit;
      >*{
        font-family: $font-SVNGilroy-Bold;
        line-height: (20/14);
        @extend .fz-14;
        color: #FFFFFF;
      }
    }
  }
}