.profile{
  &__btnEdit{
    border: 2px solid #777E91;
    box-sizing: border-box;
    text-transform: inherit;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 14.6667C2 14.2985 2.29848 14 2.66667 14H13.3333C13.7015 14 14 14.2985 14 14.6667C14 15.0349 13.7015 15.3333 13.3333 15.3333H2.66667C2.29848 15.3333 2 15.0349 2 14.6667Z' fill='%23FCFCFD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.1381 2.08084C10.8777 1.82049 10.4556 1.82049 10.1953 2.08084L9.6095 2.66661L12 5.05713L12.5858 4.47137C12.8461 4.21102 12.8461 3.78891 12.5858 3.52856L11.1381 2.08084ZM4.6095 7.66661L8.66669 3.60942L11.0572 5.99994L7.00002 10.0571L4.6095 7.66661ZM3.66669 8.60942L3.33333 8.94277V11.3333H5.72386L6.05721 10.9999L3.66669 8.60942ZM9.25245 1.13803C10.0335 0.356984 11.2998 0.356984 12.0809 1.13803L13.5286 2.58575C14.3096 3.3668 14.3096 4.63313 13.5286 5.41418L6.66667 12.2761C6.41662 12.5262 6.07748 12.6666 5.72386 12.6666H3.33333C2.59695 12.6666 2 12.0697 2 11.3333V8.94277C2 8.58915 2.14048 8.25001 2.39052 7.99996L9.25245 1.13803Z' fill='%23FCFCFD'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center right 10px;
    padding-right: 35px;
    padding-left: 20px;
    >*{
      color: #FCFCFD;
      line-height: (16/14);
      @extend .fz-14;
      font-family: $font-SVNGilroy-Bold;
    }
  }
  &__section{
    padding-top: 20px;
    @include media-breakpoint-up('m'){
      padding-top: 32px;
    }
  }
  &__card{
    box-shadow: 0px 4px 60px rgba(27, 25, 86, 0.1);
    border-radius: 16px;
    margin-top: -65px;
    @include media-breakpoint-up('m'){
      margin-top: -115px;
      width: 324px !important;
      padding: 32px;
    }
    &__logout{
      border-top: 1px solid #E6E8EC;
      padding-top: 24px;
      padding-bottom: 24px;
      a{
        text-decoration: none;
        padding-left: 30px;
        display: inline-block;
        color: #777E91;
        line-height: (16/14);
        @extend .fz-14;
        font-family: $font-SVNGilroy-Bold;
        background-repeat: no-repeat;
        background-position: center left;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.19107 12.5017C9.65098 12.4844 10.0379 12.8431 10.0552 13.303C10.0944 14.3399 10.1494 15.0966 10.2034 15.6392C10.2566 16.1735 10.5792 16.495 11.0289 16.5499C11.5591 16.6148 12.307 16.6678 13.3334 16.6678C14.3598 16.6678 15.1078 16.6148 15.638 16.5499C16.0874 16.495 16.4101 16.1734 16.4634 15.6389C16.5637 14.6318 16.6667 12.8918 16.6667 10.0011C16.6667 7.11046 16.5637 5.37048 16.4634 4.36337C16.4101 3.82891 16.0874 3.50728 15.638 3.45234C15.1078 3.38752 14.3598 3.33447 13.3334 3.33447C12.307 3.33447 11.5591 3.38751 11.0289 3.45233C10.5792 3.5073 10.2566 3.82879 10.2034 4.36311C10.1494 4.90568 10.0944 5.66242 10.0552 6.69924C10.0379 7.15915 9.65098 7.51791 9.19107 7.50055C8.73116 7.48318 8.3724 7.09628 8.38976 6.63637C8.42994 5.57217 8.4869 4.78066 8.54495 4.1979C8.667 2.97276 9.52117 1.95756 10.8266 1.79798C11.4343 1.72369 12.2507 1.6678 13.3334 1.6678C14.4161 1.6678 15.2325 1.7237 15.8402 1.79798C17.1458 1.95759 17.9998 2.97326 18.1218 4.19816C18.2293 5.27671 18.3334 7.07487 18.3334 10.0011C18.3334 12.9274 18.2293 14.7256 18.1218 15.8041C17.9998 17.029 17.1458 18.0447 15.8402 18.2043C15.2325 18.2786 14.4161 18.3345 13.3334 18.3345C12.2507 18.3345 11.4343 18.2786 10.8266 18.2043C9.52117 18.0447 8.667 17.0295 8.54495 15.8044C8.4869 15.2216 8.42994 14.4301 8.38976 13.3659C8.3724 12.906 8.73116 12.5191 9.19107 12.5017Z' fill='%23777E91'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.00576 12.3284C6.3312 12.6538 6.3312 13.1815 6.00576 13.5069C5.68032 13.8323 5.15269 13.8323 4.82725 13.5069L1.91058 10.5902C1.58514 10.2648 1.58514 9.73716 1.91058 9.41172L4.82725 6.49505C5.15269 6.16962 5.68032 6.16962 6.00576 6.49505C6.3312 6.82049 6.3312 7.34813 6.00576 7.67357L4.51168 9.16764H12.4998C12.9601 9.16764 13.3332 9.54074 13.3332 10.001C13.3332 10.4612 12.9601 10.8343 12.4998 10.8343L4.51168 10.8343L6.00576 12.3284Z' fill='%23777E91'/%3E%3C/svg%3E%0A");
        &:hover{
          color: #141416;
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.19107 12.5017C9.65098 12.4844 10.0379 12.8431 10.0552 13.303C10.0944 14.3399 10.1494 15.0966 10.2034 15.6392C10.2566 16.1735 10.5792 16.495 11.0289 16.5499C11.5591 16.6148 12.307 16.6678 13.3334 16.6678C14.3598 16.6678 15.1078 16.6148 15.638 16.5499C16.0874 16.495 16.4101 16.1734 16.4634 15.6389C16.5637 14.6318 16.6667 12.8918 16.6667 10.0011C16.6667 7.11046 16.5637 5.37048 16.4634 4.36337C16.4101 3.82891 16.0874 3.50728 15.638 3.45234C15.1078 3.38752 14.3598 3.33447 13.3334 3.33447C12.307 3.33447 11.5591 3.38751 11.0289 3.45233C10.5792 3.5073 10.2566 3.82879 10.2034 4.36311C10.1494 4.90568 10.0944 5.66242 10.0552 6.69924C10.0379 7.15915 9.65098 7.51791 9.19107 7.50055C8.73116 7.48318 8.3724 7.09628 8.38976 6.63637C8.42994 5.57217 8.4869 4.78066 8.54495 4.1979C8.667 2.97276 9.52117 1.95756 10.8266 1.79798C11.4343 1.72369 12.2507 1.6678 13.3334 1.6678C14.4161 1.6678 15.2325 1.7237 15.8402 1.79798C17.1458 1.95759 17.9998 2.97326 18.1218 4.19816C18.2293 5.27671 18.3334 7.07487 18.3334 10.0011C18.3334 12.9274 18.2293 14.7256 18.1218 15.8041C17.9998 17.029 17.1458 18.0447 15.8402 18.2043C15.2325 18.2786 14.4161 18.3345 13.3334 18.3345C12.2507 18.3345 11.4343 18.2786 10.8266 18.2043C9.52117 18.0447 8.667 17.0295 8.54495 15.8044C8.4869 15.2216 8.42994 14.4301 8.38976 13.3659C8.3724 12.906 8.73116 12.5191 9.19107 12.5017Z' fill='%23141416'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.00576 12.3284C6.3312 12.6538 6.3312 13.1815 6.00576 13.5069C5.68032 13.8323 5.15269 13.8323 4.82725 13.5069L1.91058 10.5902C1.58514 10.2648 1.58514 9.73716 1.91058 9.41172L4.82725 6.49505C5.15269 6.16962 5.68032 6.16962 6.00576 6.49505C6.3312 6.82049 6.3312 7.34813 6.00576 7.67357L4.51168 9.16764H12.4998C12.9601 9.16764 13.3332 9.54074 13.3332 10.001C13.3332 10.4612 12.9601 10.8343 12.4998 10.8343L4.51168 10.8343L6.00576 12.3284Z' fill='%23141416'/%3E%3C/svg%3E%0A");
        }
      }
    }
    &__box{
      margin-bottom: 20px;
      @include media-breakpoint-up('m'){
        margin-bottom: 35px;
      }
      &__name{
        color: #1D1E41;
        @extend .fz-24;
        font-family: $font-SVNGilroy-Bold;
      }
      &__txt{
        color: #828FA2;
        @extend .fz-14;
        font-family: $font-SVNGilroy-Medium;
        span{
          font-family: $font-SVNGilroy-Bold;
        }
      }
    }
    &__list{
      margin: 0;
      margin-bottom: 20px;
      @include media-breakpoint-up('m'){
        margin-bottom: 34px;
      }
      >li{
        &:nth-child(n+2){
          margin-top: 6px;
        }
        padding-left: 30px;
        $x:5px;
        padding-top: #{$x};
        padding-bottom: #{$x};
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM17.7071 9.70711C18.0976 9.31658 18.0976 8.68342 17.7071 8.29289C17.3166 7.90237 16.6834 7.90237 16.2929 8.29289L11 13.5858L8.70711 11.2929C8.31658 10.9024 7.68342 10.9024 7.29289 11.2929C6.90237 11.6834 6.90237 12.3166 7.29289 12.7071L10.2929 15.7071C10.6834 16.0976 11.3166 16.0976 11.7071 15.7071L17.7071 9.70711Z' fill='%23C0C7D0'/%3E%3C/svg%3E%0A");
        background-position: center left;
        background-repeat: no-repeat;
        >*{
          color: #36414F;
          line-height: (24/16);
          @extend .fz-16;
          font-family: $font-SVNGilroy-Medium;
          position: relative;
          top: 2px;
        }
        &.verified{
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM17.7071 9.70711C18.0976 9.31658 18.0976 8.68342 17.7071 8.29289C17.3166 7.90237 16.6834 7.90237 16.2929 8.29289L11 13.5858L8.70711 11.2929C8.31658 10.9024 7.68342 10.9024 7.29289 11.2929C6.90237 11.6834 6.90237 12.3166 7.29289 12.7071L10.2929 15.7071C10.6834 16.0976 11.3166 16.0976 11.7071 15.7071L17.7071 9.70711Z' fill='%2364B73B'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
  &__width{
    @include media-breakpoint-up('m'){
      width: 572px;
    }
  }
  &__content{
    &__title{
      color: #1D1E41;
      line-height: (60/32);
      @extend .fz-32;
      font-family: $font-SVNGilroy-XBold;
      @include fluidx(42px,20px,margin-bottom);
      .lichsu__section &{
        margin-bottom: 24px !important;
      }
      .cart__section &{
        margin-bottom: 16px !important;
      }
      .wishlist__section &{
        margin-bottom: 0 !important;
      }
      .home__section &{
        @include media-breakpoint-up('m'){
          margin-bottom: 31px !important;
        }
      }
      .lienhe__section &{
        @include media-breakpoint-up('m'){
          margin-bottom: 36px !important;
        }
      }
    }
  }
  &__form{
    &__iconDate{
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.8332 5.00016H4.1665C3.70627 5.00016 3.33317 5.37326 3.33317 5.8335V15.8335C3.33317 16.2937 3.70627 16.6668 4.1665 16.6668H15.8332C16.2934 16.6668 16.6665 16.2937 16.6665 15.8335V5.8335C16.6665 5.37326 16.2934 5.00016 15.8332 5.00016ZM4.1665 3.3335C2.78579 3.3335 1.6665 4.45278 1.6665 5.8335V15.8335C1.6665 17.2142 2.78579 18.3335 4.1665 18.3335H15.8332C17.2139 18.3335 18.3332 17.2142 18.3332 15.8335V5.8335C18.3332 4.45278 17.2139 3.3335 15.8332 3.3335H4.1665Z' fill='%23777E90'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.3333 10C10.8731 10 10.5 10.3731 10.5 10.8333C10.5 11.2936 10.8731 11.6667 11.3333 11.6667H17.1667C17.6269 11.6667 18 11.2936 18 10.8333C18 10.3731 17.6269 10 17.1667 10H11.3333ZM8.83333 13.3333C8.3731 13.3333 8 13.7064 8 14.1667C8 14.6269 8.3731 15 8.83333 15H13.8333C14.2936 15 14.6667 14.6269 14.6667 14.1667C14.6667 13.7064 14.2936 13.3333 13.8333 13.3333H8.83333Z' fill='%23777E90'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.83333 1.6665C5.3731 1.6665 5 2.0396 5 2.49984V5.83317C5 6.29341 5.3731 6.6665 5.83333 6.6665C6.29357 6.6665 6.66667 6.29341 6.66667 5.83317V2.49984C6.66667 2.0396 6.29357 1.6665 5.83333 1.6665ZM14.1667 1.6665C13.7064 1.6665 13.3333 2.0396 13.3333 2.49984V5.83317C13.3333 6.29341 13.7064 6.6665 14.1667 6.6665C14.6269 6.6665 15 6.29341 15 5.83317V2.49984C15 2.0396 14.6269 1.6665 14.1667 1.6665Z' fill='%23777E90'/%3E%3C/svg%3E%0A");
      svg{
        opacity: 0;
      }
      &:hover{
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.8332 5.00016H4.1665C3.70627 5.00016 3.33317 5.37326 3.33317 5.8335V15.8335C3.33317 16.2937 3.70627 16.6668 4.1665 16.6668H15.8332C16.2934 16.6668 16.6665 16.2937 16.6665 15.8335V5.8335C16.6665 5.37326 16.2934 5.00016 15.8332 5.00016ZM4.1665 3.3335C2.78579 3.3335 1.6665 4.45278 1.6665 5.8335V15.8335C1.6665 17.2142 2.78579 18.3335 4.1665 18.3335H15.8332C17.2139 18.3335 18.3332 17.2142 18.3332 15.8335V5.8335C18.3332 4.45278 17.2139 3.3335 15.8332 3.3335H4.1665Z' fill='%23212B36'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.3333 10C10.8731 10 10.5 10.3731 10.5 10.8333C10.5 11.2936 10.8731 11.6667 11.3333 11.6667H17.1667C17.6269 11.6667 18 11.2936 18 10.8333C18 10.3731 17.6269 10 17.1667 10H11.3333ZM8.83333 13.3333C8.3731 13.3333 8 13.7064 8 14.1667C8 14.6269 8.3731 15 8.83333 15H13.8333C14.2936 15 14.6667 14.6269 14.6667 14.1667C14.6667 13.7064 14.2936 13.3333 13.8333 13.3333H8.83333Z' fill='%23212B36'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.83333 1.6665C5.3731 1.6665 5 2.0396 5 2.49984V5.83317C5 6.29341 5.3731 6.6665 5.83333 6.6665C6.29357 6.6665 6.66667 6.29341 6.66667 5.83317V2.49984C6.66667 2.0396 6.29357 1.6665 5.83333 1.6665ZM14.1667 1.6665C13.7064 1.6665 13.3333 2.0396 13.3333 2.49984V5.83317C13.3333 6.29341 13.7064 6.6665 14.1667 6.6665C14.6269 6.6665 15 6.29341 15 5.83317V2.49984C15 2.0396 14.6269 1.6665 14.1667 1.6665Z' fill='%23212B36'/%3E%3C/svg%3E%0A");
      }
    }
    &__edit{
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.51889 13.9011V13.901H6.516H2.7C2.59387 13.901 2.49211 13.8589 2.41711 13.7839C2.34211 13.7089 2.3 13.6073 2.3 13.5013L2.30001 9.68641L2.29999 9.68352C2.29969 9.63093 2.30977 9.5788 2.32966 9.5301C2.34944 9.4817 2.37853 9.43764 2.41528 9.40043C2.4155 9.4002 2.41572 9.39998 2.41594 9.39976L8.66025 3.16626L8.66113 3.16538L11.1991 0.619121L11.1999 0.618294C11.2371 0.58082 11.2814 0.551068 11.3301 0.530762C11.3789 0.510457 11.4312 0.5 11.484 0.5C11.5368 0.5 11.5891 0.510457 11.6379 0.530762C11.6865 0.551021 11.7307 0.580681 11.7678 0.618032C11.7679 0.618119 11.768 0.618206 11.7681 0.618294L15.5834 4.47755L15.5834 4.47757L15.5869 4.48107C15.6244 4.51824 15.6542 4.56246 15.6745 4.61115C15.6948 4.65985 15.7052 4.71209 15.7052 4.76484C15.7052 4.81759 15.6948 4.86982 15.6745 4.91852C15.6543 4.96682 15.6249 5.01071 15.5879 5.04769C15.5876 5.04799 15.5873 5.0483 15.5869 5.0486L13.0333 7.54757L13.0333 7.54754L13.0292 7.55158L6.80294 13.7851C6.80273 13.7853 6.80251 13.7855 6.80229 13.7857C6.76506 13.8225 6.72096 13.8516 6.6725 13.8714C6.62375 13.8913 6.57155 13.9014 6.51889 13.9011ZM11.8375 1.81998L11.484 1.46658L11.1305 1.81998L9.8525 3.09761L9.49879 3.45122L9.8525 3.80482L12.3995 6.35108L12.753 6.70448L13.1065 6.35108L14.3845 5.07345L14.7382 4.71985L14.3845 4.36625L11.8375 1.81998ZM3.2465 9.7017L3.1 9.84815V10.0553V12.6016V13.1016H3.6H6.147H6.35406L6.5005 12.9552L11.8375 7.61972L12.1912 7.26611L11.8375 6.91251L9.2905 4.36625L8.937 4.01285L8.5835 4.36625L3.2465 9.7017ZM0.9 16.7005H17.1C17.2061 16.7005 17.3079 16.7427 17.3829 16.8177C17.4579 16.8926 17.5 16.9943 17.5 17.1003C17.5 17.2062 17.4579 17.3079 17.3829 17.3829C17.3079 17.4578 17.2061 17.5 17.1 17.5H0.9C0.793866 17.5 0.692109 17.4578 0.617106 17.3829C0.542108 17.3079 0.5 17.2062 0.5 17.1003C0.5 16.9943 0.542108 16.8926 0.617106 16.8177C0.692109 16.7427 0.793866 16.7005 0.9 16.7005Z' fill='%23353945' stroke='%23777E90'/%3E%3C/svg%3E%0A");
      svg{
        opacity: 0;
      }
      &:hover{
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.51889 13.9011V13.901H6.516H2.7C2.59387 13.901 2.49211 13.8589 2.41711 13.7839C2.34211 13.7089 2.3 13.6073 2.3 13.5013L2.30001 9.68641L2.29999 9.68352C2.29969 9.63093 2.30977 9.5788 2.32966 9.5301C2.34944 9.4817 2.37853 9.43764 2.41528 9.40043C2.4155 9.4002 2.41572 9.39998 2.41594 9.39976L8.66025 3.16626L8.66113 3.16538L11.1991 0.619121L11.1999 0.618294C11.2371 0.58082 11.2814 0.551068 11.3301 0.530762C11.3789 0.510457 11.4312 0.5 11.484 0.5C11.5368 0.5 11.5891 0.510457 11.6379 0.530762C11.6865 0.551021 11.7307 0.580681 11.7678 0.618032C11.7679 0.618119 11.768 0.618206 11.7681 0.618294L15.5834 4.47755L15.5834 4.47757L15.5869 4.48107C15.6244 4.51824 15.6542 4.56246 15.6745 4.61115C15.6948 4.65985 15.7052 4.71209 15.7052 4.76484C15.7052 4.81759 15.6948 4.86982 15.6745 4.91852C15.6543 4.96682 15.6249 5.01071 15.5879 5.04769C15.5876 5.04799 15.5873 5.0483 15.5869 5.0486L13.0333 7.54757L13.0333 7.54754L13.0292 7.55158L6.80294 13.7851C6.80273 13.7853 6.80251 13.7855 6.80229 13.7857C6.76506 13.8225 6.72096 13.8516 6.6725 13.8714C6.62375 13.8913 6.57155 13.9014 6.51889 13.9011ZM11.8375 1.81998L11.484 1.46658L11.1305 1.81998L9.8525 3.09761L9.49879 3.45122L9.8525 3.80482L12.3995 6.35108L12.753 6.70448L13.1065 6.35108L14.3845 5.07345L14.7382 4.71985L14.3845 4.36625L11.8375 1.81998ZM3.2465 9.7017L3.1 9.84815V10.0553V12.6016V13.1016H3.6H6.147H6.35406L6.5005 12.9552L11.8375 7.61972L12.1912 7.26611L11.8375 6.91251L9.2905 4.36625L8.937 4.01285L8.5835 4.36625L3.2465 9.7017ZM0.9 16.7005H17.1C17.2061 16.7005 17.3079 16.7427 17.3829 16.8177C17.4579 16.8926 17.5 16.9943 17.5 17.1003C17.5 17.2062 17.4579 17.3079 17.3829 17.3829C17.3079 17.4578 17.2061 17.5 17.1 17.5H0.9C0.793866 17.5 0.692109 17.4578 0.617106 17.3829C0.542108 17.3079 0.5 17.2062 0.5 17.1003C0.5 16.9943 0.542108 16.8926 0.617106 16.8177C0.692109 16.7427 0.793866 16.7005 0.9 16.7005Z' fill='%23353945' stroke='%23353945'/%3E%3C/svg%3E%0A");
      }
    }
    &__title{
      color: #212B36;
      line-height: (24/16);
      @extend .fz-16;
      font-family: $font-SVNGilroy-Bold;
      @include fluidx(32px,16px,margin-bottom);
    }
    &__label{
      text-transform: uppercase;
      color: #ADB5BC;
      line-height: (16/12);
      @extend .fz-12;
      font-family: $font-SVNGilroy-SemiBold;
      @include fluidx(10px,8px,margin-left);
    }
    &__input{
      border: 1px solid #E2E8ED;
      box-sizing: border-box;
      border-radius: 8px;
      height: 48px;
      &::placeholder,
      &:focus{
        color: #828FA2;
      }
      color: #212B36;
      @extend .fz-16;
      font-family: $font-SVNGilroy-Bold;
      background-position: center right 10px;
      background-repeat: no-repeat;
      &.verified{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM17.7071 9.70711C18.0976 9.31658 18.0976 8.68342 17.7071 8.29289C17.3166 7.90237 16.6834 7.90237 16.2929 8.29289L11 13.5858L8.70711 11.2929C8.31658 10.9024 7.68342 10.9024 7.29289 11.2929C6.90237 11.6834 6.90237 12.3166 7.29289 12.7071L10.2929 15.7071C10.6834 16.0976 11.3166 16.0976 11.7071 15.7071L17.7071 9.70711Z' fill='%2364B73B'/%3E%3C/svg%3E%0A");
      }
      &:disabled{

      }
    }
    &__btnSelect{
      border: 1px solid #E2E8ED;
      box-sizing: border-box;
      border-radius: 8px;
      line-height: 46px;
      text-align: left;
      padding-left: 10px;
      text-transform: inherit;
      >*{
        &:first-child{
          color: #212B36;
          line-height: (24/16);
          @extend .fz-16;
          font-family: $font-SVNGilroy-SemiBold;
        }
      }
      .uk-icon{
        right: 10px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.2071 9.79289C15.8166 9.40237 15.1834 9.40237 14.7929 9.79289L12 12.5858L9.20711 9.79289C8.81658 9.40237 8.18342 9.40237 7.79289 9.79289C7.40237 10.1834 7.40237 10.8166 7.79289 11.2071L11.2929 14.7071C11.6834 15.0976 12.3166 15.0976 12.7071 14.7071L16.2071 11.2071C16.5976 10.8166 16.5976 10.1834 16.2071 9.79289Z' fill='%23141416'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        svg{
          opacity: 0;
        }
      }
    }
  }
}