.register{
  &__txt{
    color: #36414F;
    line-height: (24/14);
    @extend .fz-14;
    font-family: $font-SVNGilroy-Medium;
    @include media-breakpoint-up('m'){
      margin-top: 43px !important;
      margin-bottom: 37px;
    }
    a{
      text-decoration-line: underline;
      font-family: $font-SVNGilroy-SemiBold;
      color: #3772FF;
    }
  }
}