@import './common.scss';


.slick-slide{
    div{
        &:nth-child(1){
            div{
                &:nth-child(1){
                    display: flex !important;
                    justify-content: center !important;
                    img{
                        width: 80%;
                        height: 300px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
