.uk{
  &-notification{
    width: inherit;
    //top: 50px;
    &-top{
      &-right{
        //right: 26px;
      }
    }
    &-message{
      >div{
        display: flex;
        justify-content: flex-end;
      }
      background-color: transparent;
      padding: 0;
      color: #000 !important;
      &-success{
        //border-color: #64B73B;
        border-color: #206AE6;
        color: inherit;
      }
      &-danger{
        border-color: #E73C3D;
        color: inherit;
      }
    }
    &__content{
      .uk-notification-message-success &{
        //border-color: #64B73B;
        //border-color: #206AE6;
      }
      .uk-notification-message-danger &{
        //border-color: #E73C3D;
      }
      //border: 3px solid;
      border-radius: 8px;
      box-sizing: border-box;
      padding: 13.5px 12px;
      width: 100% !important;
      background-color: rgba(#fff,1);
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.2);
      $x:30px;
      &--wishList{
        //max-width: calc(501px + #{$x}) !important;
      }
      &--acc{
        //max-width: calc(431px + #{$x}) !important;
      }
      &--error{
        //max-width: calc(310px + #{$x}) !important;
      }
      &--default{

      }
      &--info{

      }
      &--error{

      }
    }
    &__text{
      @extend .fz-14;
      line-height: (24/14);
      font-family: $font-SVNGilroy-Medium;
      span{
        font-family: $font-SVNGilroy-XBold;
        .uk-notification__content--error &{
          color: #E5293A;
        }
      }
    }
  }
}