.tooltip{
  &__title1{
    @extend .fz-16;
    color: #141416;
    font-family: $font-SVNGilroy-Bold;
  }
  &__txt4{
    color: #141416;
    @extend .fz-14;
    span{
      color: #3772FF;
    }
  }
  &__txt3{
    color: #353945;
    @extend .fz-14;
    line-height: (16/14);
    font-family: $font-SVNGilroy-Medium;
    span{
      color: #3772FF;
      font-family: $font-SVNGilroy-XBold;
    }
  }
  &__card{
    &--c2{
      border-left: 3px solid #3772FF;
    }
    &--c1{
      >*{
        &:nth-child(n+2){
          margin-top: 12px;
        }
      }
    }
    background: rgba(#FFFFFF,0.9);
    /* 1 */

    box-shadow: 0px 4px 30px rgba(27, 25, 86, 0.1);
    border-radius: 8px;
    padding: 20px;
    min-width: 330px;
  }
  &__txt1{
    color: #353945;
    @extend .fz-14;
    //line-height: 1;
    font-family: $font-SVNGilroy-Medium;
    span{
      font-family: $font-SVNGilroy-XBold;
    }
  }
  &__txt2{
    @extend .fz-14;
    //line-height: 1;
    font-family: $font-SVNGilroy-Bold;
    color: #000;
    span{
      color: #3772FF;
    }
  }
  &__title{
    color: #141416;
    @extend .fz-12;
    line-height: 1;
    font-family: $font-SVNGilroy-XBold;
  }
  &__list{
    margin: 0;
    >li{
      &:before{
        content: "";
        $x:3px;
        width: #{$x};
        height: #{$x};
        background-color: #353945;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 3px;
      }
      margin: 0;
      position: relative;
      padding-left: 12px;
      @extend .fz-12;
      line-height: (14/12);
      color: #353945;
      font-family: $font-SVNGilroy-Medium;
      span{
        font-family: $font-SVNGilroy-Bold;
      }
    }
  }
  &__item{
    $x:10px;
    &:nth-child(n+2){
      border-top: 1px solid #E6E8EC;
      $x:10px;
      margin-top: #{$x};
      padding-top: #{$x};
      @include media-breakpoint-up('m'){
        $x:10px;
        margin-top: #{$x};
        padding-top: #{$x};
      }
    }
  }
}